
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDMST.cshtml";
}

@model PagedList.IPagedList<E_Learning.ModelsDMST.ThanhVienView>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        Danh sách ban đổi mới sáng tạo công ty

                    </div>
                    <div class="card-header">
                        <div class="row mb-3">
                            <div class="col d-flex align-items-center flex-wrap gap-2">

                                <button type="button" id="btn-add" class="btn btn-primary">
                                    <i class="fas fa-plus me-1"></i> Thêm mới
                                </button>

                                <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","RenewBanCongTy")'></div>

                                @using (Html.BeginForm("Import", "TieuBanDaoTao", FormMethod.Post, new { enctype = "multipart/form-data", id = "formImport", @class = "d-flex align-items-center gap-2" }))
                                {
                                    <input type="file" id="fileInput" name="file" accept=".xlsx,.xls" class="form-control form-control-sm" style="width: 200px;" />
                                    <button type="submit" id="btnImport" class="btn btn-success">Import Excel</button>
                                }
                            </div>
                        </div>


                    </div>
                    @using (Html.BeginForm("Index", "RenewBanCongTy", FormMethod.Get))
                    {
                        <div class="form-row mb-3">
                            <div class="form-group col-md-3">
                                <label for="phongBanFilter">Bộ phận:</label>
                                @Html.DropDownList("phongBanFilter", ViewBag.DSPhongBan as SelectList, "-- Tất cả --", new { @class = "form-control" })
                            </div>

                            <div class="form-group col-md-2">
                                <label for="viTriTieuBanFilter">Vị trí trong tiểu ban:</label>
                                @Html.DropDownList("viTriTieuBanFilter", ViewBag.DSChucVu as SelectList, "-- Tất cả --", new { @class = "form-control" })
                            </div>

                            <div class="form-group col-md-3">
                                <label for="searchName">Tìm theo tên, mã NV:</label>
                                <input type="text" name="searchName" class="form-control" value="@ViewBag.SearchName" />
                            </div>

                            <div class="form-group col-md-4 align-self-end">
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                            </div>
                        </div>
                    }

                    <div class="card-body">
                        <div class="table-responsive">
                            <form method="post" id="myForm">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th width="30px" style="text-align: center">STT</th>
                                            <th class="text-center" width="100px" style="vertical-align:middle">MNV</th>
                                            <th class="text-center" width="150px" style="vertical-align:middle">Họ tên</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle">Bộ phận</th>
                                            <th class="text-center" width="250px" style="vertical-align:middle">Vị trí công việc</th>
                                            <th class="text-center" width="150px" style="vertical-align:middle">Chức vụ trong ban</th>
                                            <th class="text-center" width="100px" style="vertical-align:middle">Email</th>
                                            <th class="text-center" width="100px" style="vertical-align:middle">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int index = (Model.PageNumber - 1) * Model.PageSize + 1;
                                        }
                                        @if (!Model.Any())
                                        {
                                            <tr>
                                                <td colspan="10" class="text-center text-muted">
                                                    Không tìm thấy dữ liệu.
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center">@index</td>
                                                    <td>@item.MaNhanVien</td>
                                                    <td>@item.HoTen</td>
                                                    <td>@item.BoPhan</td>
                                                    <td>@item.ViTriCongViec</td>
                                                    <td>@item.ChucVuTrongTieuBan</td>
                                                    <td>@item.Email</td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0);" class="fa fa-trash icon_action btn-delete"
                                                           data-id="@item.ID"
                                                           title="Xóa">
                                                        </a>
                                                        <a id="btn-edit_@item.ID" title="Sửa" class="fa fa-edit icon_action" style="cursor:pointer;"></a>
                                                        <div class="modal fade" id="myModale_@item.ID" role="dialog" data-url='@Url.Action("Edit","RenewBanCongTy", new { id = item.ID })'></div>
                                                        <script type="text/javascript">
                                                            $("#btn-edit_@item.ID").click(function () {
                                                                var url = $('#myModale_@item.ID').data('url');
                                                                $.get(url, function (data) {
                                                                    if (data.error) {
                                                                        alert(data.message);
                                                                    } else {
                                                                        $("#myModale_@item.ID").html(data);
                                                                        $(".ModalTitle_Edit").html("Cập nhật Thành viên");
                                                                        $("#myModale_@item.ID").modal('show');
                                                                    }
                                                                });
                                                            });
                                                        </script>
                                                    </td>
                                                </tr>
                                                index++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </form>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new
                                {
                                    page,
                                    phongBanFilter = ViewBag.phongBanFilter,
                                    viTriTieuBanFilter = ViewBag.viTriTieuBanFilter,
                                    searchName = ViewBag.SearchName
                                }))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btn-add').click(function () {
            var url = $('#myModal').data('url');
            $.get(url, function (data) {
                $("#myModal").html(data);
                $("#ModalTitle").html("Thêm mới thành viên");
                $("#myModal").modal('show');
            });
        });

        $(".btn-delete").click(function (e) {
            var id = $(this).data("id");

            if (!confirm("Bạn muốn xóa vị trí này?")) return;

            $.ajax({
                url: '@Url.Action("Delete", "RenewBanCongTy")',
                type: 'POST',
                data: { id: id},
                success: function (response) {
                    alert(response.message);
                    if (response.success) {
                        location.reload();
                    }
                },
                error: function () {
                    alert("Lỗi kết nối máy chủ");
                }
            });
        })
    });
</script>

