


@using E_Learning.ModelsKCCD
@model PagedList.IPagedList<ConfirmKCCDView>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}

<div class="card-body">
    @if (Model.Count > 0)
    {
        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        <div class="col-md-8 col-lg-8">
                            <div class="row">
                                <div class="card-title">KCCD Học viên chưa cập nhật</div>
                            </div>
                        </div>
                        <div class="col"></div>


                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="30px" class="text-center" rowspan="2">STT</th>
                                        <th width="150px" rowspan="2" class="text-center">Thao tác</th>
                                        <th class="text-left" rowspan="2">Mã NV</th>
                                        <th class="text-left" rowspan="2">Họ Tên</th>
                                        <th class="text-left" rowspan="2">Vị trí</th>
                                        <th class="text-left" rowspan="2">Bộ phận</th>
                                        <th class="text-center" colspan="2">Tự đánh giá trước đào tạo</th>
                                        <th class="text-center" colspan="2">Tự đánh giá sau đào tạo</th>
                                        <th class="text-left" rowspan="2">Đề xuất của học viên</th>
                                        <th class="text-left" rowspan="2">Học viên tự cập nhật</th>
                                        @*<th class="text-left">Ngày Tạo</th>*@
                                    </tr>
                                    <tr>
                                        <th class="text-center">Đạt được</th>
                                        <th class="text-center">Cần cải thiện</th>
                                        <th class="text-center">Đạt được</th>
                                        <th class="text-center">Cần cải thiện</th>
                                        @*<th class="text-left">Ngày Tạo</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                                            <td class="text-center">
                                                <a id="btn-edit_@item.ID" title="Sửa" class="" href="@Url.Action("Details","EvaluateKCCD", new { id = item.ID })">
                                                    <span class="btn-transition btn btn-outline-success">Tự đánh giá</span>
                                                </a>
                                                @if (item.TinhTrangThi == 0)
                                                {
                                                    <a id="btn-edit_@item.ID" title="Sửa" class="" href="@Url.Action("TestKCCD","EvaluateKCCD", new { IDNV = item.HocVienID,NoiDungKCCDID = item.NoiDungKCCDID,DeNghiID = item.DeNghiDTID })">
                                                        <span class="btn-transition btn btn-outline-warning">Làm bài thi</span>
                                                    </a>
                                                }
                                                else if (item.TinhTrangThi == 1)
                                                {
                                                    @*<a id="btn-edit_@item.ID" title="Sửa" class="" href="#">
                                                        <span class="btn-transition btn btn-outline-success">Đạt</span>
                                                    </a>*@
                                                    <span class="btn-transition btn btn-outline-success">Đạt</span>
                                                }
                                                else if (item.TinhTrangThi == 2)
                                                {
                                                    <a id="btn-edit_@item.ID" title="Sửa" class="" href="@Url.Action("TestKCCD","EvaluateKCCD",  new { IDNV = item.HocVienID,NoiDungKCCDID = item.NoiDungKCCDID,DeNghiID = item.DeNghiDTID })">
                                                        <span class="btn-transition btn btn-outline-danger">Làm lại bài thi</span>
                                                    </a>
                                                }
                                                else if (item.TinhTrangThi == 3)
                                                {
                                                    <span class="btn-transition btn btn-outline-danger">Chưa Đạt</span>
                                                }
                                            </td>
                                            <td>@item.MaNV</td>
                                            <td>@item.HoTenHV</td>
                                            <td>@item.VitriHV</td>
                                            <td>@item.PhongBanHV</td>
                                            <td class="text-center">@item.HVTruocDatDuoc </td>
                                            <td class="text-center">@item.HVTruocDatDuoc </td>
                                            <td class="text-center">@item.HVSauDatDuoc </td>
                                            <td class="text-center">@item.HVSauCanCaiThien  </td>
                                            <td class="text-center">@item.HVDeXuatKhac</td>
                                            @if (item.IDTinhTrang == 0)
                                            {
                                                <td class="text-center ">@item.HVDanhGia </td>
                                            }
                                            else
                                            {
                                                <td class="text-center bg-success">@item.HVDanhGia </td>
                                            }

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "EvaluateKCCD", new { page, SuggestID = ViewBag.SuggestID}))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>



<script type="text/javascript">
    //$(" #LVDTID").chosen({
    //    width: "100%"
    //});
    $("#IDPB").chosen({
        width: "100%"
    });
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm Học viên KCCD");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalimport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới danh sách KCCD");
            $("#myModal").modal('show');
        });
    });

    $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "EvaluateKCCD")?search=' + search + "&IDPB=" + $('#IDPB').val() + "&IDLVDT=" + $('#LVDTID').val();
    });
</script>

