
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model E_Learning.ModelsDTTH.NhuCauDTTHView
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@*@{
        EPORTALEntities db = new EPORTALEntities();
        EPORTAL_REGISTEREntities db_dk = new EPORTAL_REGISTEREntities();
        var IDDKT = ViewData["id"];

    }*@

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

<style>
    /* Đặt chiều cao cố định và thêm cuộn dọc */
    .table-responsive1 {
        max-height: 300px; /* Thay đổi 300px thành chiều cao bạn muốn */
        overflow-y: auto;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        @*<div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                            </i>
                        </div>
                        <div>
                            NHU CẦU ĐÀO TẠO NHÂN LỰC
                            <div class="page-title-subheading">
                            </div>
                        </div>
                    </div>

                </div>
            </div>*@

        <div class="tab-content">
            <div class="row">
                <div class="card w-100">
                    <div style="margin-top: 1%; text-align:center;">
                        <h3>
                            <b>
                                NHU CẦU ĐÀO TẠO NHÂN LỰC
                            </b>
                        </h3>
                    </div>
                   
                   

                    <div class="card-body" style="padding-top:8px">
                        @using (Html.BeginForm("Create", "NhuCauDTTH", FormMethod.Post, new { enctype = "multipart/form-data",id = "myFormId" }))
                        {
                            <div class="row m-2">
                                <div class="form col-md-2">
                                    <span class="row m-2 font-weight-bold">  Quý &nbsp;  @ViewBag.Quy  &nbsp; / &nbsp;  Năm @ViewBag.Nam  &nbsp; </span>

                                </div>
                                <div class="col-md-10">
                                    <div class="btn-margin-top text-center">
                                        <input type="submit" value="Thêm mới" name="action" id="2" class="btn btn-warning pull-right ml-1" />
                                        <input type="submit" value="Lưu" id="0" name="action" class="btn btn-primary pull-right" />
                                        @*<input type="reset" value="Hủy" id="cancel" class="btn btn-danger pull-right button_cancel mr-1" data-dismiss="modal" />*@
                                    </div>
                                </div>
                            </div>
                            <div style=" margin: 1% 0% 1% 3%;">
                                <h6>
                                    @*<b>Kính gửi:</b> - @Html.DropDownList("DSNguoiNhan", null, new { id = "NguoiNhan", @class = "", @style = "", }).<br />
                    – Căn cứ yêu cầu thực tế công việc của bộ phận; <br />
                    – Căn cứ vào trình độ năng lực của người lao động tại bộ phận.<br />*@
                                    <span class="row">  Bộ phận:&nbsp; <div class="col-md-2" style="margin:-5px">  @Html.DropDownListFor(m => m.BoPhanLNC_ID, (SelectList)ViewBag.IDPhongBan, new { id = "BoPhanLNC_ID", @class = "form-control marginTB5", @style = "width:100%", })</div>  &nbsp; đề xuất nhu cầu đào tạo của Bộ phận như sau:</span>
                                </h6>
                            </div>

                            @Html.AntiForgeryToken()
                            @Html.Hidden("PhanLoaiNCDT_ID", (int)ViewBag.LoaiNCDT)
                    <fieldset id="SubmitForm">
                        <div class="row border border-light rounded bg-light">
                            <div class="font-weight-bold col-12 text-danger">THÔNG TIN KHÓA ĐÀO TẠO</div>
                            @if ((int)ViewBag.LoaiHinh_DT == 1) // nội bộ
                            {
                                <div class="form-group col-md-6  " style="display:grid">
                                    <label class="mb-1 font-weight-bold">Phương pháp đào tạo<span class="text-danger">(*)</span></label>
                                    @Html.DropDownListFor(m => m.PhuongPhapDT_ID, (SelectList)ViewBag.PhuongPhapDT_ID, "--Phương pháp Đào tạo--", new { id = "PhuongPhapDT_ID", @class = "form-control marginTB5", @style = "width:100%", })
                                    @Html.ValidationMessageFor(model => model.PhuongPhapDT_ID, "", new { @class = "text-danger" })
                                </div>
                                <script>
                                    $("#PhuongPhapDT_ID").on("change", function () {
                                        $.get("/NhuCauDTTH/GetDSNoiDungDT", { PhuongPhapDT_ID: $("#PhuongPhapDT_ID").val() }, function (data1) {
                                            $("#NoiDung_ID").chosen();
                                            if (data1[0] != null) {
                                                $("#NoiDung_ID").empty();
                                                $("#NoiDung_ID").append("<option value ='" + null + "'>" + "--Nội dung Đào tạo--" + "</option>");
                                                $.each(data1, function (index, row) {
                                                    $("#NoiDung_ID").append("<option value ='" + row.IDND + "'>" + row.NoiDung + "</option>")
                                                });
                                                $("#NoiDung_ID").trigger("chosen:updated");
                                                //$("#NoiDung_ID").chosen("update");
                                            }
                                            else {
                                                $("#NoiDung_ID").empty(); // Xóa tất cả các mục
                                                $("#NoiDung_ID").append('<option value="">Không có dữ liệu</option>'); // Thêm mục placeholder
                                                $("#NoiDung_ID").trigger("chosen:updated");
                                                //$("#NoiDung_ID").empty();
                                                //$("#NoiDung_ID").append("<option value ='" + null + "'>" + "--Nội dung Đào tạo--" + "</option>");
                                                //$("#NoiDung_ID").chosen("update");
                                            }

                                        });
                                    })
                                </script>
                            }

                            <div class="form-group col-md-6  " style="display:grid">
                                <label class="mb-1 font-weight-bold">Tên khóa đào tạo<span class="text-danger">(*)</span></label>
                                @Html.DropDownListFor(m => m.NoiDungDT_ID, (SelectList)ViewBag.IDNoiDungDT, "-- Nội dung đào tạo --", new { id = "NoiDung_ID", @class = "form-control marginTB5", @style = "width:100%", })
                                @Html.ValidationMessageFor(model => model.NoiDungDT_ID, "", new { @class = "text-danger", id = "err-noidung" })
                            </div>

                        </div>
                        <div class="font-weight-bold col-12 text-danger">Danh sách vị trí đào tạo</div>
                        @if ((int)ViewBag.LoaiHinh_DT == 1) // nội bộ
                        {<div class="row border border-light rounded mt-2 table-responsive1">
                                <table class="table table-bordered  table-striped table-hover" cellspacing="0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th style="vertical-align:middle">Tên vị trí</th>
                                            <th style="vertical-align:middle">Tích chọn đào tạo</th>
                                        </tr>
                                    </thead>
                                    <tbody id="listVT">
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                    <div class="row">
                        <div class=" col-md-6 mb-1" style="display:grid">
                            <label class="mb-1 font-weight-bold text-left">Danh sách Mã nhân viên</label>
                            @Html.TextAreaFor(model => model.DSNhanVien, new { @class = "form-control", @rows = 2, placeholder = "Nhập danh sách nhân viên", @id = "DSNhanVien", })
                            @Html.ValidationMessageFor(model => model.DSNhanVien, "", new { @class = "text-danger" })
                        </div>
                        <div class=" col-md-6 mb-1" style="display:grid">
                            <label class="mb-1 font-weight-bold text-left">Danh sách Mã vị trí</label>
                            @Html.TextAreaFor(model => model.DSViTri, new { @class = "form-control", @rows = 2, placeholder = "Nhập danh sách vị trí", @id = "DSViTri", })
                            @Html.ValidationMessageFor(model => model.DSViTri, "", new { @class = "text-danger" })
                        </div>
                    </div>
                           
                            <div id="checkNV" style="width:70px" class="btn btn-primary form-group col-md-3 checkNV m-auto ">
                                Check
                            </div>
                            <div class="row">
                                <div class="col-md-6 overflow-auto border border-success rounded text-left mt-1" style="display: grid; min-height: 40px; max-height: 70px; margin: 0 auto;margin-bottom:10px" id="dsnv">
                                </div>
                                <div class="col-md-6 overflow-auto border border-success rounded text-left mt-1" style="display: grid; min-height: 40px; max-height: 70px; margin: 0 auto;margin-bottom:10px" id="dsvt">
                                </div>
                            </div>
                           
                            <script type="text/javascript">
                                $(document).on("click", ".checkNV", function () {
                                    /*var iddex = $(this).attr('id').split("_")[1];*/
                                    $.get("/FPermision/CheckLSNV", { lsnv: $("#DSNhanVien").val() }, function (data) {
                                        if (data[0] != null) {
                                            $("#dsnv").empty();
                                            /*$("#dsnv").append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")*/
                                            $.each(data, function (index, row) {
                                                $("#dsnv").append("<div>" + row.HoTen + "</div>")
                                            });

                                        }
                                        else {
                                            $("#dsnv").empty();
                                        }
                                    });
                                    $.get("/NoiDungDTTH/CheckViTri", { dsnd: $("#DSViTri").val() }, function (data) {
                                        if (data[0] != null) {
                                            $("#dsvt").empty();
                                            /*$("#dsnv").append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")*/
                                            $.each(data, function (index, row) {
                                                $("#dsvt").append("<div>" + row.TenViTri + "</div>")
                                            });

                                        }
                                        else {
                                            $("#dsvt").empty();
                                        }
                                    });
                                });
                            </script>
                        }
                    <div class="row border border-light rounded mt-2">
                        <div class="font-weight-bold col-12 text-danger">ĐƠN VỊ ĐÀO TẠO/GIẢNG VIÊN</div>
                        <div class="form-group col-md-12">
                            <label class=" mb-1 font-weight-bold">Mã nhân viên - Họ và tên giảng viên (Nội bộ)<span class="text-danger">(*)</span></label>
                            @Html.DropDownListFor(m => m.chiTietNhuCauDTTHView.GiangVien_ID, (SelectList)ViewBag.Selec, "-- Chọn nhân viên --", new { id = "GiangVien_ID", @class = "form-control marginTB5", @style = "width:100%", })
                            @Html.ValidationMessageFor(model => model.chiTietNhuCauDTTHView.GiangVien_ID, "", new { @class = "text-danger", })
                        </div>
                        <div class="form-group col-md-4">
                            <label class=" mb-1 font-weight-bold">Họ tên giảng viên</label>
                            @Html.TextBoxFor(model => model.chiTietNhuCauDTTHView.TenGiangVien, new { @class = "form-control ", @rows = 1, placeholder = "", @id = "TenGiangVien", })
                            @Html.ValidationMessageFor(model => model.chiTietNhuCauDTTHView.TenGiangVien, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class=" mb-1 font-weight-bold">Vị trí công việc</label>
                            @Html.TextBoxFor(model => model.chiTietNhuCauDTTHView.TenViTri, new { @class = "form-control ", @rows = 1, placeholder = "", @id = "TenViTri", })
                            @Html.ValidationMessageFor(model => model.chiTietNhuCauDTTHView.TenViTri, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class=" mb-1 font-weight-bold">Đơn vị đào tạo <span class="text-danger">(*)</span></label>
                            @Html.TextBoxFor(model => model.chiTietNhuCauDTTHView.DonViDT, new { @class = "form-control ", @rows = 1, placeholder = "Đơn vị đào tạo", @id = "DonViDT", })
                            @Html.ValidationMessageFor(model => model.chiTietNhuCauDTTHView.DonViDT, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group col-md-4">
                            <label class=" mb-1 font-weight-bold">Vị trí công việc<span class="text-danger">(*)</span></label>
                            @Html.TextBoxFor(model => model.chiTietNhuCauDTTHView.TenViTri, new { @class = "form-control ", @rows = 1, placeholder = "Vị trí công việc", @id = "TenViTri", })
                            @Html.ValidationMessageFor(model => model.chiTietNhuCauDTTHView.TenViTri, "", new { @class = "text-danger" })
                        </div>*@
                    </div>

                        <div class="row border border-light rounded mt-2">
                            <div class="font-weight-bold col-12 text-danger">THÔNG TIN ĐÀO TẠO<span class="text-danger">(*)</span></div>
                            <table class="table table-bordered table-striped table-hover" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>Đối tượng tham gia đào tạo</td>
                                        <td>
                                            @Html.TextBoxFor(model => model.chiTietNhuCauDTTHView.DoiTuongDT, new { @class = "form-control ", @rows = 1, placeholder = "", @id = "DoiTuongDT", })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tháng bắt đầu đào tạo(Tháng)</td>
                                        <td>
                                            @Html.TextBoxFor(model => model.chiTietNhuCauDTTHView.ThoiGianDT, new { @class = "form-control ", @rows = 1, placeholder = "", @id = "ThoiGianDT", @type = "number", })
                                            @Html.ValidationMessageFor(model => model.chiTietNhuCauDTTHView.ThoiGianDT, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Định kỳ nhắc lại</td>
                                        <td>
                                            @Html.DropDownListFor(m => m.MaDinhKy, (SelectList)ViewBag.IDDKNhacLai, "-- Định kỳ nhắc lại --", new { id = "MaDinhKy", @class = "form-control marginTB5", @style = "width:100%", })
                                            @Html.ValidationMessageFor(model => model.MaDinhKy, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Thời lượng đào tạo(Giờ)</td>
                                        <td>
                                            @Html.TextBoxFor(model => model.chiTietNhuCauDTTHView.ThoiLuong, new { @class = "form-control ", @rows = 1, placeholder = "", @id = "ThoiLuong", @type = "number", })
                                            @Html.ValidationMessageFor(model => model.chiTietNhuCauDTTHView.ThoiLuong, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm đào tạo</td>
                                        <td>
                                            @Html.TextAreaFor(model => model.chiTietNhuCauDTTHView.DiaDiemDT, new { @class = "form-control ", @rows = 1, placeholder = "", @id = "DiaDiemDT", })
                                            @Html.ValidationMessageFor(model => model.chiTietNhuCauDTTHView.DiaDiemDT, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ghi chú</td>
                                        <td>
                                            @Html.TextAreaFor(model => model.chiTietNhuCauDTTHView.GhiChu, new { @class = "form-control ", @rows = 1, placeholder = "", @id = "GhiChu", })
                                            @Html.ValidationMessageFor(model => model.chiTietNhuCauDTTHView.GhiChu, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @if ((int)ViewBag.LoaiHinh_DT == 2)
                        {
                            <div class="row border border-light rounded mt-2">
                                <div class="font-weight-bold col-12 text-danger">File Đính kèm</div>
                                <div class="form-group col-md-12">
                                    @Html.TextBoxFor(model => model.File, new { @class = "form-control ", @rows = 1, placeholder = "Đơn vị đào tạo", type = "file", @id = "File", })
                                    @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        }
                        <div class="row border border-light rounded mt-2">
                            <div class="font-weight-bold col-12 text-danger">THÔNG TIN PHÊ DUYỆT<span class="text-danger">(*)</span></div>
                            <table class="table table-bordered table-striped table-hover" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td width="300"><div class=" col-12 ">Bộ phận sử dụng (BP.SD):</div></td>
                                        <td> @Html.DropDownListFor(m => m.CapDuyetView.BPSD, (SelectList)ViewBag.BPSD, "-- Chọn nhân viên --", new { id = "BPSD", @class = "form-control marginTB5", @style = "width:100%", })</td>
                                    </tr>
                                    <tr>
                                        <td width="300"><div class=" col-12 ">Phòng chức năng (PCHN):</div></td>
                                        <td> @Html.DropDownListFor(m => m.CapDuyetView.PCHN, (SelectList)ViewBag.PCHN, "-- Chọn nhân viên --", new { id = "PCHN", @class = "form-control marginTB5", @style = "width:100%", })</td>
                                    </tr>
                                    <tr>
                                        <td width="300"><div class=" col-12 ">Phòng nhân sự (P.NS):</div></td>
                                        <td> @Html.DropDownListFor(m => m.CapDuyetView.PNS, (SelectList)ViewBag.PNS, "-- Chọn nhân viên --", new { id = "PNS", @class = "form-control marginTB5", @style = "width:100%", })</td>
                                    </tr>
                                    <tr>
                                        <td width="300"><div class=" col-12 ">Ban giám đốc (BGĐ):</div></td>
                                        <td>  @Html.DropDownListFor(m => m.CapDuyetView.BGD, (SelectList)ViewBag.BGD, "-- Chọn nhân viên --", new { id = "BGD", @class = "form-control marginTB5", @style = "width:100%", })</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </fieldset>
                        }


                        @*<div id="list_vt" style="width:100%">
            <div style="margin-left:2%;">
                <p>
                    <b>
                        Ghi chú:
                    </b><br />
                    – Sau khi Nhu cầu đào tạo được phê duyệt không quá 02 ngày, đầu mối tại BP có nhu cầu đào tạo gửi email Nhu cầu đào tạo đến Nhân viên Nhân sự (chuyên trách BP), Nhân viên Đào tạo – P.NS, Kỹ thuật viên P.CHN hoặc chuyển tiếp văn bản qua hệ thống E–Office để nắm thông tin và phối hợp;<br />
                    – Kính gửi: Tùy vào các nội dung theo phân nhiệm, trình đến cấp phê duyệt phù hợp và có thể để trống hoặc xóa các thành phần còn lại. Chọn một trong ba theo phân nhiệm trình ký: Ban Giám đốc; Trưởng bộ phận; Phòng Nhân sự (chọn theo list tự động);<br />
                    – Bộ phận: Tùy vào nội dung đào tạo có thể là một hoặc nhiều BP khác nhau, trong đó cả Bộ phận đề nghị đào tạo và BP có địa điểm, giảng viên tổ chức đào tạo; <br />
                    – Nhóm năng lực: Chọn một trong ba nhóm năng lực: Năng lực chung; Năng lực Chuyên môn; Năng lực Quản lý (chọn theo list tự động); <br />
                    – Tên khóa đào tạo: Là tên của nội dung cần đào tạo, thể hiện ngắn gọn và nêu bật được nội dung cần đào tạo hoặc tên vị trí công việc cần đào tạo; <br />
                    – Đối tượng học viên: Ghi ngắn gọn các nhóm đối tượng học viên hoặc tên vị trí công việc; <br />
                    – Thông tin giảng viên: Nếu khóa đào tạo dùng giảng viên thuê ngoài thì ghi “Thuê ngoài” hoặc “Tên đơn vị/ đối tác" nếu đã xác định được đơn vị đào tạo; nếu Giảng viên nội bộ thì ghi đầy đủ thông tin; <br />
                    - Phương pháp đào tạo: Chỉ lập Nhu cầu đào tạo đối với phương pháp đào tạo: Mở lớp đào tạo tập trung; Hội thảo, trao đổi, chia sẻ kinh nghiệm (chọn theo list tự động). Nếu đào tạo theo Phương pháp Mở lớp đào tạo trên hệ thống E-Learning (cột thời lượng đào tạo là 01 giờ và cột ghi chú: Hệ thống E-Learning); <br />
                    – Lĩnh vực đào tạo: An toàn lao động theo luật định/ An toàn lao động khác/ Cơ khí/ Điện/ Công nghệ/ Nghiệp vụ khác; <br />
                    – Thời lượng đào tạo dự kiến: Số giờ để đào tạo hết nội dung chương trình đào tạo đối với một lượt đào tạo; <br />
                    – Địa điểm đào tạo: Ghi rõ cụ thể vị trí: Lý thuyết: Phòng họp/ Phòng giao ca … Thực hành: Khu vực làm việc của Tổ - Phân xưởng. Nếu địa điểm ngoài Công ty thì ghi rõ và đầy đủ địa điểm; <br />
                    – Đối với nhu cầu đào tạo mất phí, có sự tham gia của giảng viên bên ngoài hoặc phải cử CBNV đi đào tạo tại địa điểm bên ngoài Công ty: T/PBP, đơn vị đại diện các bên liên quan ký trình tới cấp BGĐ Công ty.<br />
                </p>
            </div>
        </div>*@
                    </div>
            </div>

        </div>


        <div class="app-wrapper-footer">
            <div class="app-footer">
                <div class="app-footer__inner">

                </div>
            </div>
        </div>


    </div>
</div>
</div>
    <script>
    $("#IDPhongBan").chosen({
        width: "100%"
    });
    //$("#NoiDung_ID").chosen({
    //    width: "100%"
    //});
    $(".ddlMultiSlectBox").chosen({
        width: "100%"
    });
    $("#GiangVien_ID").chosen({
        width: "100%"
    });
        $("#BPSD").chosen({
            width: "100%"
        });
        $("#PCHN").chosen({
            width: "100%"
        });
        $("#PNS").chosen({
            width: "100%"
        });
        $("#BGD").chosen({
            width: "100%"
        });
    $(document).ready(function() {
        $('#myFormId').on('submit', function(event) {
            //event.preventDefault(); // Ngăn form submit mặc định

            // Biến để kiểm tra tình trạng form
            let isValid = true;

            // Kiểm tra tên
            const name = $('#NoiDung_ID').val();
            if (!name) {
                alert("Vui lòng chọn nội dung.");
                //$("#err-noidung").text("Vui lòng chọn nội dung đào tạo.").show();
                //$("#username").addClass("error");
                isValid = false;
                //event.preventDefault(); // Ngăn form submit mặc định
            }

            // Kiểm tra giảng viên
            const gv = $('#GiangVien_ID').val();
            const hoten = $('#TenGiangVien').val();
            if (!gv && !hoten) {
                alert("Vui lòng bổ sung thông tin giảng viên.");
                isValid = false;
                //event.preventDefault(); // Ngăn form submit mặc định
            }
            const dsnhanvien = $('#DSNhanVien').val();
            const dsvt = $('#DSViTri').val();
            if ($("input[name='SelectedItems']:checked").length == 0 && !dsnhanvien && !dsnhanvien && !dsvt) {
                alert("Vui lòng chọn ít nhất 1 vị trí cần đào tạo.");
                isValid = false;
                //event.preventDefault(); // Ngăn form submit mặc định
            }
            // Kiểm tra trình ký
            if (!$('#BPSD').val() && !$('#PCHN').val() && !$('#PNS').val() && !$('#BGD').val()) {
                alert("Vui lòng chọn ít nhất 1 người phê duyệt.");
                isValid = false;
            }

            //// Kiểm tra mật khẩu
            //const password = $('#password').val();
            //if (password.length < 6) {
            //    alert("Mật khẩu phải có ít nhất 6 ký tự.");
            //    isValid = false;
            //}

            // Không hợp lệ thì dừng
            if (!isValid) {
                event.preventDefault();
                //alert("Form hợp lệ và đã được gửi!");
                // Thực hiện submit form nếu cần
                //this.submit(); // Loại bỏ event.preventDefault() ở trên nếu muốn submit thực sự
            }
        });
    });



    $(document).ready(function () {
        $("#NoiDung_ID, #PhuongPhapDT_ID").on("change", function () {
            $.get("/NhuCauDTTH/GetDSViTri", { IDNoiDungDT: $("#NoiDung_ID").val(), PhuongPhapDT_ID: $("#PhuongPhapDT_ID").val()  }, function (data1) {
                if (data1[0] != null) {
                    $("#listVT").empty();
                    //$("#IDPPDT").append("<option value ='" + null + "'>" + "--Phương pháp Đào tạo--" + "</option>");
                    $.each(data1, function (index, row) {
                        $("#listVT").append(`<tr>
                                                <th style="vertical-align:middle">${row.TenViTri} </th>
                                                <th style="vertical-align:middle">
                                                    <label>
                                                        <input type="checkbox" name="SelectedItems" checked value="${row.ID}">
                                                    </label>
                                                </th>
                                            </tr>`);
                    });
                }
                else {
                    $("#listVT").empty();
                }
            });
        })
    })
    </script>








