
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using E_Learning.ModelsDTTH
@using E_Learning.Models
@model PagedList.IPagedList<NhuCauDTTHView>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}



@*<style>
    a:hover {
        cursor: pointer;
    }

    .table-responsive {
        overflow-x: scroll;
        overflow-y: scroll;
        width: 100%;
        height: 720px;
    }

    thead tr:nth-child(1) {
        background: white;
        position: sticky;
        top: 0;
        z-index: 2000;
    }

    .thead-fix {
        background: white;
        position: sticky;
        top: 0;
        left: 0;
    }

    .thead-fix-200 {
        background: white;
        position: sticky;
        top: 0;
        left: 70px;
    }

    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        background: white;
    }

    tr {
        border-top: 1px solid #ccc;
    }

    td, th {
        vertical-align: top;
        text-align: left;
        width: 300px;
        padding: 5px;
    }

    .fix:first-child {
        left: 0;
        width: 100px;
        z-index: 200;
    }

    .fix-field {
        left: 70px;
        width: 100px;
        z-index: 200;
    }

    .fix-field170 {
        left: 170px;
        width: 100px;
        z-index: 200;
    }

    .fix-field270 {
        left: 270px;
        /*width: 100px;*/
        z-index: 200;
    }

    .AliceBlue {
        background-color: #F0F8FF;
    }

    .chosen-drop {
        z-index: 5000 !important;
    }
</style>*@



<div class="app-main__outer" style="overflow:hidden">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh sách Nhu cầu đào tạo
                        <div class="page-title-subheading">
                        </div>

                    </div>
                </div>
                @*<div class="col"><button type="button" id="btn-ExportLH" class="btn btn-success m-l-auto"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Danh sách NDĐT</button></div>*@
            <div class="col float-right">
                @*<button type="button" id="btn-Export" class="btn btn-success float-right ml-2"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Export Danh sách NDĐT</button>
        <script>
        //const urlParams = new URLSearchParams(window.location.search);
        //const myParam = urlParams.get('IDLoaiDT');
        //$('#btn-Export').click(function () {
        //    window.location.href = "/NhuCauDTTH/ExportExcel?IDPhanLoaiDT=" + myParam;
        //});
        </script>*@
                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.EX))
                {
                    @*<div class="col-2" style="text-align: right;padding: 2%  2%  2% 0%; ">
                        <form method="get" asp-controller="NhuCauDTTH" asp-action="ExportToExcel">
                            <button type="submit" class="btn btn-primary">Download Excel</button>
                        </form>
                    </div>*@
                    <div class="col-md-2">
                        <a class="fa fa-file-excel float-right btn btn-warning m-1" title="Export dữ liệu" href="@Url.Action("ExportToExcel", "NhuCauDTTH")"
                           onclick="return confirm('Export dữ liệu?')">
                            &nbsp;Thống kê Nhu cầu đào tạo
                        </a>
                    </div>
                }
                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.ADD))
                {
                    @*<button type="button" id="btn-Process" class="btn btn-success float-right ml-2"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Xử lý phân quyền vị trí </button>*@
                    @*<span class="modal fade" id="ProcessModal" role="dialog" data-url='@Url.Action("Process", "NhuCauDTTH",new {IDPhanLoaiDT = Request.QueryString["IDLoaiDT"]})'></span>
            <script>
            //$('#btn-Process').click(function () {
            //    var url = $('#ProcessModal').data('url');
            //    $.get(url, function (data) {
            //        $("#ProcessModal").html(data);
            //        $("#ModalTitle").html("Thêm mới danh sách");
            //        $("#ProcessModal").modal('show');
            //    });
            //});
            </script>*@
                    @*<button type="button" id="btn-Import" class="btn btn-success float-right ml-2"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Nhập Danh sách </button>
            <span class="modal fade" id="ImportModal" role="dialog" data-url='@Url.Action("ImportExcel", "NhuCauDTTH")'></span>*@
                    @*<script>
            //$('#btn-Import').click(function () {
            //    var url = $('#ImportModal').data('url');
            //    $.get(url, function (data) {
            //        $("#ImportModal").html(data);
            //        $("#ModalTitle").html("Thêm mới danh sách");
            //        $("#ImportModal").modal('show');
            //    });
            //});
            </script>*@
                    <button type="button" id="btn-add" class="btn btn-primary float-right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Lập nhu cầu đào tạo </button>
                    <div class="modal fade" id="AddModal" role="dialog" data-url='@Url.Action("Create","NhuCauDTTH",new {IDLoaiDT = Request.QueryString["IDLoaiDT"] })'></div>
                    <script>
                        $('#btn-add').click(function () {
                            var url = $('#AddModal').data('url');
                            //$.get(url, function (data) {
                            //    $("#AddModal").html(data);
                            //    $("#ModalTitle").html("Thêm mới danh sách");
                            //    $("#AddModal").modal('show');
                            //});
                            window.location.href = url;
                        });
                    </script>
                }
            </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        <div class="col">
                            <div class="row">
                                @*<div class="col">
                                        <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                    </div>*@
                                <div>
                                    <ul class="nav nav-pills nav-fill">
                                        @foreach (var item in ViewBag.IDPhanLoaiDT)
                                        {
                                            if (item.Value == Request.QueryString["IDLoaiDT"])
                                            {
                                                <li class="nav-item p-1">
                                                    <a class="btn btn-outline-primary active" href="@Url.Action("Index", "NhuCauDTTH", new { IDLoaiDT = item.Value })">@item.Text</a>
                                                </li>
                                            }
                                            @*else
                                            {
                                                <li class="nav-item p-1">
                                                    <a class="btn btn-outline-primary " href="@Url.Action("Index", "NhuCauDTTH", new { IDLoaiDT = item.Value })">@item.Text</a>
                                                </li>
                                            }*@

                                        }
                                        @*<li class="nav-item">
                                                <a class="nav-link active" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Longer nav link</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link disabled" href="#">Disabled</a>
                                            </li>*@
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width:70px" class="thead-fix" >TT</th>
                                        <th style="width:100px;" class="thead-fix fix fix-field170" >Thao tác</th>
                                        <th class="text-center thead-fix fix fix-field270" width="300" style="vertical-align: middle;">Tên khóa đào tạo</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Nhóm năng lực</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Quý đào tạo</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Bộ phận lập nhu cầu</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Đối tượng tham gia đào tạo</th>
                                        <th class="text-center" style="vertical-align:middle">Số lượng dự kiến (Người)</th>
                                        <th class="text-center" style="vertical-align:middle">Mã giảng viên</th>
                                        <th class="text-center" width="300px" style="vertical-align:middle">Tên giảng viên</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Đơn vị giảng viên</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Phương pháp đào tạo</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Lĩnh vực đào tạo</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Thời gian bắt đầu đào tạo</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Thời lượng đào tạo dự kiến</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Địa điểm đào tạo dự kiến</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Người tạo</th>
                                        <th class="text-center" width="150px" style="vertical-align:middle">Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center thead-fix tcustom"> @RowNo@{RowNo++;}</td>
                                            <td class="text-center fix-field thead-fix" width="100">
                                                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.DEL) || MyAuthentication.ID == item.ID_NguoiTao)
                                                {
                                                    <a class="fa fa-trash icon_action" title="Xóa" href="@Url.Action("Delete", "NhuCauDTTH", new { id = item.ID_NCDT })"
                                                       onclick="return confirm('Bạn muốn xóa : @item.TenNoiDungDT')">
                                                    </a>
                                                }
                                                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.EDIT) || MyAuthentication.ID == item.ID_NguoiTao)
                                                {
                                                    if (item.TinhTrang == 0 && MyAuthentication.ID == item.ID_NguoiTao)
                                                    {
                                                        <a id="btn-edit_@item.ID_NCDT" href="@Url.Action("Edit","NhuCauDTTH", new { id = item.ID_NCDT })" title="Edit" class="fa fa-edit icon_action"></a>
                                                    }
                                                    else
                                                    {
                                                        <a id="btn-edit_@item.ID_NCDT" href="@Url.Action("Edit_View","NhuCauDTTH", new { id = item.ID_NCDT })" title="Edit" class="fa fa-eye icon_action"></a>
                                                    }
                                                }

                                            </td>

                                            <td class="fix-field270 thead-fix">
                                                @if (item.TinhTrang == 0 && MyAuthentication.ID == item.ID_NguoiTao)
                                                {
                                                    <a id="btn-edit_@item.ID_NCDT" href="@Url.Action("Edit","NhuCauDTTH", new { id = item.ID_NCDT })" title="Edit" class="">@item.TenNoiDungDT</a>
                                                }
                                                else
                                                {
                                                    <a id="btn-edit_@item.ID_NCDT" href="@Url.Action("Edit_View","NhuCauDTTH", new { id = item.ID_NCDT })" title="Edit" class="">@item.TenNoiDungDT</a>
                                                }
                                            </td>
                                            <td>@item.chiTietNhuCauDTTHView.TenNhom</td>
                                            <td class="text-center">@item.Quy / @item.Nam</td>
                                            <td class="">@item.TenBoPhan_LNC</td>
                                            <td>@item.chiTietNhuCauDTTHView.DoiTuongDT</td>
                                            <td class="text-center">@item.chiTietNhuCauDTTHView.SoLuongNguoi</td>
                                            <td>@item.chiTietNhuCauDTTHView.MaNV</td>
                                            <td>@item.chiTietNhuCauDTTHView.TenGiangVien</td>
                                            <td>@item.chiTietNhuCauDTTHView.DonViDT</td>
                                            <td class="">@item.TenPPDT</td>
                                            <td>@item.chiTietNhuCauDTTHView.TenLVDT</td>
                                            <td class="text-center">Tháng @item.chiTietNhuCauDTTHView.ThoiGianDT</td>
                                            <td class="text-center">@item.chiTietNhuCauDTTHView.ThoiLuong (Giờ)</td>
                                            <td>@item.chiTietNhuCauDTTHView.DiaDiemDT</td>
                                            @*<td class="">@item.chiTietNhuCauDTTHView.SoLuongNguoi</td>*@
                                            <td class="">@item.NguoiTao</td>
                                            @if (item.TinhTrang == 0)
                                            {
                                                <td class="text-center"> <button type="button" class="btn btn-warning" style="width:120px"> Đang lưu </button></td>
                                            }
                                            else if (item.TinhTrang == 1)
                                            {
                                                <td class="text-center"> <button type="button" class="btn btn-success" style="width:120px"> Hoàn tất </button></td>
                                                @*<td class="text-center"> <button type="button" class="btn btn-success"> Hoàn tất </button></td>*@
                                            }
                                            else if (item.TinhTrang == 2)
                                            {
                                                <td class="text-center"> <button type="button" class="btn btn-info" style="width:120px"> Đang trình ký </button></td>
                                                @*<td class="text-center"> <button type="button" class="btn btn-info"> Đang trình ký </button></td>*@
                                            }
                                            else if (item.TinhTrang == 3)
                                            {
                                                <td class="text-center"> <button type="button" class="btn btn-danger" style="width:120px"> Không phê duyệt </button></td>
                                                @*<td class="text-center"> <button type="button" class="btn btn-danger"> Hủy phiếu </button></td>*@
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "NoiDungDTTH", new { page, IDLVDT = Request.QueryString["IDLVDT"], IDGV = Request.QueryString["IDGV"], search = Request.QueryString["search"], IDLoaiDT = Request.QueryString["IDLoaiDT"], IDPPDT = Request.QueryString["IDPPDT"], IDNhomDT = Request.QueryString["IDNhomDT"], }))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    //$(" #LVDTID").chosen({
    //    width: "100%"
    //});
    $(document).ready(function () {
        $('#addProductModal').on('hidden.bs.modal', function () {
            // Reset form fields
            $('#addProductForm')[0].reset();
        });
    });
    $("#LVDTID #LVDTID").chosen({
        width: "100%"
    });

    $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "NoiDungDTTH")?search=' + search + "&IDLVDT=" + $('#LVDTID').val() + "&IDGV=" + $('#IDGV').val() + "&IDLoaiDT=" + $('#IDLoaiDT').val() + "&IDPPDT=" + $('#IDPPDT').val() + "&IDNhomDT=" + $('#IDNhomDT').val();
    });
</script>

