
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using E_Learning.Models
@model PagedList.IPagedList<ManageClassValidation>
@using PagedList.Mvc
<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}

<div class="app-main__outer">

    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Thư Viện Lớp Học
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">

                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header">
                            <i class="header-icon lnr-gift icon-gradient bg-grow-early"> </i>Danh sách Lớp học

                        </div>

                        <div class="card-body">

                            <div class="tab-content" style="margin-top: 30px;">

                                <div class="row" style="padding: 0 10%;">
                                    @foreach (var item in Model)
                                    {

                                        <div class="col-md-6 col-xl-3">
                                            <div class="card mb-3">

                                                <div class="text-white">
                                                    <img src="@item.ImageLH" style="width:100%">
                                                </div>

                                                <div class="widget-content">

                                                    <div class="content">
                                                        <div class="widget-subheading">@item.TenLH</div>
                                                    </div>
                                                    <div class="widget-content-wrapper" style="padding: .5rem 0 0;">

                                                        <div class="widget-content-left"><strong>Mã lớp : </strong></div>
                                                        <div class="widget-content-right">@item.MaLH</div>

                                                    </div>
                                                    <div class="widget-content-wrapper" style="padding: .5rem 0 0;">

                                                        <div class="widget-content-left"><strong>Nội dung : </strong></div>
                                                        <div class="widget-content-right">@item.TenND</div>

                                                    </div>
                                                    <div class="widget-content-wrapper" style="padding: .5rem 0 0;">

                                                        <div class="widget-content-left"><strong>Lĩnh vực : </strong></div>
                                                        <div class="widget-content-right">@item.LinhVuc</div>

                                                    </div>
                                                    <div class="widget-content-wrapper" style="padding: .5rem 0 0;">

                                                        <div class="widget-content-left"><strong>Thời gian : </strong></div>
                                                        <div class="widget-content-right">@item.TGBDLH.ToString("dd-MM-yyyy")</div>
                                                        <div class="widget-content-right">@item.TGKTLH.ToString("dd-MM-yyyy")</div>

                                                    </div>
                                                    <div class="widget-content-wrapper" style="padding: .5rem 0;">

                                                        <div class="widget-content-right">

                                                            @*<a class="" id="" href="@Url.Action("Index" , "LibraryETContent")">
                                                                <span id="back" class="btn-transition btn btn-outline-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Trở về </span>
                                                            </a>*@

                                                            @*<a id="@item.IDLH" href="@Url.Action("Index" , "TLesson" , new { id = @item.IDLH })">
                                                                <span class="btn-transition btn btn-outline-success">Tiếp theo</span>
                                                            </a>*@

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>


                        <div class="d-block text-right card-footer">

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">


</script>
