
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using E_Learning.ModelsDTTH
@using E_Learning.Models
@model PagedList.IPagedList<HoSoDaoTaoTH>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}



<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Hồ sơ đào tạo
                        <div class="page-title-subheading">
                        </div>
                    </div>
                    <div>
                        @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.EX))
                        {
                            <div class="col-md-6">


                            </div>
                            <button type="button" id="btn-Import" class="btn btn-success m-l-auto"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Thống kê Dữ liệu đào tạo </button>
                            <script>
                                $('#btn-Import').click(function () {
                                    var url = $('#myModalimport').data('url');
                                    $.get(url, function (data) {
                                        $("#myModalimport").html(data);
                                        $("#ModalTitle").html("Thêm mới danh sách học viên");
                                        $("#myModalimport").modal('show');
                                    });
                                });
                            </script>
                        }
                    </div>

                </div>
                <div class="modal fade" id="myModalimport" role="dialog" data-url='@Url.Action("ExportProcess", "HoSoDTTH" )'></div>
            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <!-- Form Filter -->
                    @using (Html.BeginForm("Index", "HoSoDTTH", FormMethod.Get))
                    {
                        <div class="row mb-3 ">
                            <div class="col-md-2">
                                <input type="text" placeholder="tên nội dung ..." name="search" class="form-control" value="@ViewBag.Search" />
                            </div>
                            <div class="col-md-3">
                                <select name="ID_NoiDung" id="ID_NoiDung" class="form-control">
                                    <option value="">-- Chọn Nội dung --</option>
                                    @foreach (var nv in ViewBag.IDNoiDung)
                                    {
                                        <option value="@nv.Value" selected="@(nv.Value == Request.QueryString["ID_NoiDung"])">@nv.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select name="IDPhongBan" id="IDPhongBan" class="form-control">
                                    <option value="">-- Chọn Phòng Ban --</option>
                                    @foreach (var nv in ViewBag.IDPhongBan)
                                    {
                                        <option value="@nv.Value" selected="@(nv.Value == Request.QueryString["IDPhongBan"])">@nv.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-1" style="padding-top:0.5%;text-align: right;">
                                <span class="text-center" style="margin-top: 8px"><b style="font-size: 15px; color: black;">TRẠNG THÁI :</b></span>
                            </div>
                            <!-- Chọn trạng thái -->
                            <div class="col-md-2">
                                <select name="ID_TrangThai" class="form-control">
                                    <option value="">-- Chọn tình trạng --</option>
                                    <option value="0" selected="@(Request.QueryString["ID_TrangThai"] == "0")">Hồ sơ chờ xử lý</option>
                                    <option value="1" selected="@(Request.QueryString["ID_TrangThai"] == "1")">Đã duyệt hồ sơ</option>
                                    <option value="2" selected="@(Request.QueryString["ID_TrangThai"] == "2")">Từ chối hồ sơ</option>
                                </select>
                            </div>

                            <!-- Nút tìm kiếm -->
                            <div class="col-md-2 ">
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                            </div>
                        </div>
                    }
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="120px" class="text-center">Thao tác</th>
                                        <th width="30px" class="text-center">STT</th>
                                        <th class="text-center">Tên lớp học</th>
                                        <th class="text-center">Nội dung đào tạo</th>
                                        <th class="text-center">Trích yếu nội dung</th>
                                        <th class="text-center">Đề thi</th>
                                        <th class="text-center">Quý</th>
                                        <th class="text-center">Năm</th>
                                        <th class="text-center">TG Bắt đầu thực tế</th>
                                        <th class="text-center">TG Kết thúc thực tế</th>
                                        <th class="text-center">Thời lượng ĐT Thực tế</th>
                                        <th class="text-center">PP Đào tạo</th>
                                        <th class="text-center">Lĩnh vực</th>
                                        <th class="text-center">Giảng viên thực tế</th>
                                        <th class="text-center">Phòng ban</th>
                                        <th class="text-center">Người lập</th>
                                        <th class="text-center">Người kiểm tra</th>
                                        <th class="text-center">Người nộp hồ sơ</th>
                                        <th class="text-center">Ngày nộp hồ sơ</th>
                                        <th class="text-center">Người xử lý hồ sơ</th>
                                        <th class="text-center">Ngày xử lý hồ sơ</th>
                                        <th class="text-center">Tình trạng hồ sơ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                <a id="btn-edit_@item.LHID" href="@Url.Action("ViewEdit","HoSoDTTH", new { IDLH = item.LHID})" title="Edit" class="fa fa-refresh"></a>
                                                <a title="DS Lớp" class="fa fa-list-alt" id="@item.LHID" href="@Url.Action("XLHS" , "ToChucDTTH" , new { id = @item.LHID })"></a>
                                                <a title="File đính kèm" target="_blank" href="@Url.Action("DSFileDinhKem","HoSoDTTH", new { IDLH = item.LHID})" class=" fa fa-file-alt"></a>
                                                <a title="DS Câu Hỏi" class="fa fa-question-circle" href="@Url.Action("Question" , "ChuongTrinhDTTH" , new { id = item.manageClassValidation.IDDeThi })"></a>
                                                @if (item.TinhTrang == 1 || item.TinhTrang ==0)
                                                {
                                                    <a title="Hủy hồ sơ" class="fa fa-times-circle text-danger"
                                                       href="@Url.Action("HuyHoSo", "HoSoDTTH", new { IDLH = item.LHID })"
                                                       onclick="return confirmCancel();">
                                                    </a>
                                                }
                                            </td>
                                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                                            <td><a id="btn-edit_@item.LHID" href="@Url.Action("ViewEdit","HoSoDTTH", new { IDLH = item.LHID})" title="Edit" class="">@item.TenLopHoc</a>  </td>
                                            <td>@item.manageClassValidation.TenND</td>
                                            <td>@item.manageClassValidation.NoiDungTrichYeu</td>
                                            <td>
                                                <a href="@Url.Action("Question" , "ChuongTrinhDTTH" , new { id = item.manageClassValidation.IDDeThi })">@item.manageClassValidation.TenDeThi</a>
                                            </td>
                                            <td>@item.manageClassValidation.QuyDT</td>
                                            <td>@item.manageClassValidation.NamDT</td>
                                            <td class="text-center">@item.NgayBDThucTe.Value.ToString("dd-MM-yyyy")</td>
                                            <td class="text-center">@item.NgayKTThucTe.Value.ToString("dd-MM-yyyy")</td>
                                            <td>@item.ThoiLuongDT</td>
                                            <td>@item.manageClassValidation.TenPPDT</td>
                                            <td>@item.manageClassValidation.LinhVuc</td>
                                            <td>@item.manageClassValidation.TenGV</td>
                                            <td>@item.manageClassValidation.TenBoPhan</td>
                                            <td>@item.manageClassValidation.TenNguoiTao</td>
                                            <td>@item.manageClassValidation.TenNguoiKiemTra</td>
                                            <td>@item.TenNguoiNop</td>
                                            @if (item.NgayNopHS != null)
                                            {
                                                <td>@item.NgayNopHS.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                            <td class="text-center">@item.TenNguoiXuLy</td>
                                            @if (item.NgayXuLy != null)
                                            {
                                                <td>@item.NgayXuLy.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                            @if (item.TinhTrang == 1)
                                            {
                                                <td class="text-center"> <button type="button" class="btn btn-success" style="width:120px"> Hoàn tất hồ sơ </button></td>
                                            }
                                            else if (item.TinhTrang == 0)
                                            {
                                                <td class="text-center"> <button type="button" class="btn btn-warning" style="width:120px"> Hồ sơ chờ xử lý </button></td>
                                            }
                                            else if (item.TinhTrang == 2)
                                            {
                                                <td class="text-center"> <button type="button" class="btn btn-danger" style="width:120px"> Không duyệt </button></td>
                                            }


                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "HoSoDTTH", new { page, IDPhongBan = Request.QueryString["IDPhongBan"], ID_NoiDung = Request.QueryString["ID_NoiDung"], ID_TrangThai = Request.QueryString["ID_TrangThai"], search = Request.QueryString["search"] }))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>


<script type="text/javascript">

    $('#btn-process').click(function () {
        var url = $('#myModalProcess').data('url');
        $.get(url, function (data) {
            $("#myModalProcess").html(data);
            $("#ModalTitle").html("Xử lý dữ liệu");
            $("#myModalProcess").modal('show');
        });
    });

    $('#btn-Export').click(function () {
        window.location.href = "/ManageClass/ExportToExcel";
    });

    $('#btn-ExportLH').click(function () {
        window.location.href = "/ManageClass/ExportToExcelLH";
    });

    $("#ID_NoiDung").chosen({
        width: "100%"
    });
    $("#IDPhongBan").chosen({
        width: "100%"
    });
    $("#btn-search").on('click', function () {
        window.location.href = '@Url.Action("Index", "ManageClass")?IDPB=' + $('#IDPB').val() + '&IDLH=' + $('#IDLH').val() + '&IDND=' + $('#IDND').val();
    });

    function confirmCancel() {
        return confirm("Bạn có chắc muốn hủy hồ sơ này?");
    }
</script>

