
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using E_Learning.Models
@model PagedList.IPagedList<ConfirmEStudyValidation>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}



<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-id icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Bảng Xác Nhận Học Tập
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">


                        <span class="col-md-2">
                            <span class="form-group">
                                <input id="txtsearch" class="form-control" type="text" placeholder="Tìm kiếm nhân viên ..." value="@ViewBag.search">
                            </span>
                        </span>
                        <span class="col-md-2">

                            @Html.DropDownList("PBList", null, "--Phòng ban--", new
                               {
                                   id = "IDPhongBan",
                                   @class = "form-control",
                                   @style = "width:100%"
                            })
                        </span>
                        @*<span class="col-md-1">
            @Html.DropDownList("YNList", null, "-XNHT-", new
            {
               id = "Value",
               @class = "form-control",
               @style = "width:100%"
           })

        </span>*@
                        <span class="">
                            <button type="button" id="btn-search" class="btn btn-success m-l-auto"><i class="fa fa-search">&nbsp;</i>&nbsp;Tìm kiếm</button>
                        </span>

                        <span class="m-l-auto">
                            @{ ELEARNINGEntities db_context = new ELEARNINGEntities();
                                int id = Convert.ToInt32(@Url.RequestContext.RouteData.Values["id"]);
                                var res = from l in db_context.LopHocs
                                          where l.IDLH == id
                                          select new ManageClassValidation()
                                          {
                                              IDLH = l.IDLH,
                                              TenLH = l.TenLH,
                                              TGBDLH = (DateTime)l.TGBDLH,
                                              TGKTLH = (DateTime)l.TGKTLH
                                          };
                                foreach (var it in res)
                                {
                                    if (((Convert.ToDateTime(it.TGKTLH) - DateTime.Now).TotalDays > 2) && (it.TGKTLH > DateTime.Now))
                                    {


                                        @*<button type="button" id="btn-Export" class="btn btn-success m-l-auto"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Xuất Danh sách</button>
                    <a class="modal fade" id="myModalimport" role="dialog" data-url='@Url.Action("ExportToExcel", "ConfirmEStudy", new { id = @Url.RequestContext.RouteData.Values["id"] })'></a>*@

                                        @*<button type="button" id="btn-add" class="btn btn-primary m-l-auto"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                    <span class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create", "ConfirmEStudy", new { id = @Url.RequestContext.RouteData.Values["id"] })'></span>*@
                                    }
                                    else
                                    {
                                        @*<a class="btn btn-primary" href="@Url.Action("ExportToPdfsss","ConfirmEStudy", new {LHID = 0,IDNV = 0, IDL = @Url.RequestContext.RouteData.Values["id"] })">&nbsp;In bài thi lớp</a>
                    <button type="button" id="btn-Export" class="btn btn-success m-l-auto"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Xuất Danh sách</button>
                    <a class="modal fade" id="myModalimport" role="dialog" data-url='@Url.Action("ExportToExcel", "ConfirmEStudy", new { id = @Url.RequestContext.RouteData.Values["id"] })'></a>*@
                                    }
                                }
                            }
                            @if (MyAuthentication.ID == (int)ViewBag.ID_NguoiTao)
                            {
                                <button type="button" id="btn-Import" class="btn btn-success m-l-auto"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Nộp hồ sơ  </button>


                            }
                            <a class="btn btn-primary" href="@Url.Action("ExportToExcel","ToChucDTTH", new {id = @Url.RequestContext.RouteData.Values["id"] })">&nbsp;Lấy dữ liệu lớp học</a>
                        </span>
                        <div class="modal fade" id="myModalimport" role="dialog" data-url='@Url.Action("ImportXuLyExcel", "ToChucDTTH", new { id = @Url.RequestContext.RouteData.Values["id"] })'></div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="30px">STT</th>
                                        <th width="80px">Mã NV</th>
                                        <th width="150px">Họ và Tên</th>
                                        <th width="150px">Vị Trí</th>
                                        <th width="150px">Bộ Phận</th>
                                        <th class="text-center">Tên Lớp Học</th>
                                        <th class="text-center">Điểm thi Online</th>
                                        <th class="text-center">Điểm lý thuyết</th>
                                        <th class="text-center">Điểm thực hành</th>
                                        <th class="text-center">Điểm vấn đáp</th>
                                        <th class="text-center">Kết luận</th>
                                        <th class="text-center">Lý do không tham gia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                                            <td>@item.MaNV - @item.IDHT</td>
                                            <td>@item.HoTenHV</td>
                                            <td>@item.TenVT</td>
                                            <td>@item.TenPB</td>
                                            <td class="text-center">@item.TenLH</td>
                                            <td class="text-center">@item.DiemOnline</td>
                                            <td class="text-center">@item.DiemLyThuyet</td>
                                            <td class="text-center">@item.DiemThucHanh</td>
                                            <td class="text-center">@item.DiemVanDap</td>
                                            @if (item.KetLuan == 1)
                                            {
                                                <td class="text-center">Đạt</td>
                                            }
                                            else if (item.KetLuan == 2)
                                            {
                                                <td class="text-center">Không đạt</td>
                                            }
                                            else if (item.KetLuan == 3)
                                            {
                                                <td class="text-center">Không tham gia</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td class="text-center">@item.LyDoKhongTGia</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "ConfirmEStudy", new { page, IDPhongBan = Request.QueryString["IDPhongBan"] }))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>


<script type="text/javascript">

    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới Học Viên");
            $("#myModal").modal('show');
        });
    });

    $('#btn-Import').click(function () {
        var url = $('#myModalimport').data('url');
        $.get(url, function (data) {
            $("#myModalimport").html(data);
            $("#ModalTitle").html("Thêm mới danh sách học viên");
            $("#myModalimport").modal('show');
        });
    });

    $('#btn-Export').click(function () {
        window.location.href ="/ConfirmEStudy/ExportToExcel/@Url.RequestContext.RouteData.Values["id"]";
    });

    $("#btn-search").on('click', function () {
        console.log($('#IDPhongBan').val());
        var search = $('#txtsearch').val();
        var IDPhongBan = $('#IDPhongBan').val();
        window.location.href = '@Url.Action("Index", "ConfirmEStudy")?IDPhongBan=' + IDPhongBan +'&search=' + search;
    });
    $("#txtsearch").keyup(function (event) {
         if (event.keycode == 13) {
             $("#btn-search").click();
         }
    });
    $("#IDPhongBan").chosen({
        width: "100%"
    });

</script>

<style>
    .chosen-container-single .chosen-single {
        color: #495057;
        background: #fff;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        text-transform: capitalize;
    }

        .chosen-container-single .chosen-single span {
            text-transform: capitalize !important;
            font-size: 16px !important;
        }
</style>