<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>E-Learning HPDQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Content/assets/plotly-latest.min.js"></script>
    <script src="~/Content/jquery-3.0.0.min.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <link href="~/Content/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://cdn.jwplayer.com/libraries/HV0iiS3W.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/assets/DataTables/datatables.min.css" />
    <script type="text/javascript" src="~/Content/assets/DataTables/datatables.min.js"></script>
    @*<script src="https://cdn.tiny.cloud/1/zk94qakxf8yluxk3v2k3bs57c62ugr93bteupn4ijx1b4dkc/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>*@
    <script src="~/Content/assets/TinyMCE/js/tinymce/tinymce.min.js"></script>

</head>
<body onselectstart="return false" oncontextmenu="return false" style="padding-right:0px !important">
    @if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/Login");
    }
    @{
        int Idquyen = E_Learning.Models.MyAuthentication.IDQuyen;
        var ListControll = new E_Learning.Controllers.HomeController().GetPermisionControll(Idquyen);
        var ListQFPosition = new E_Learning.Controllers.HomeController().GetPermisionCN(Idquyen, "FPosition");
        //var checkDGNV = new E_Learning.Controllers.KNL.FCheckController().CheckDGiaNV();
        var checkAppro = new E_Learning.Controllers.KCCD.SuggestKCCDController().CheckApprove();
        var dsloaiNCDT = new E_Learning.Controllers.DaoTaoTH.NhuCauDTTHController().GetDSLoaiNCDT();
        var showQuanTriKNL = 0;
        var showKNL = 0;
        var showQuanTri = 0;
        var showQTriKNL = 0;
        var showQTriHV = 0;
        var showQTriCHDT = 0;
    }
   
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <a href="@Url.Action("/","")">
                    <div class="logo-src"></div>
                </a>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="header-slogan">
                    <div class="widget-content">
                        <div class="slogan">
                            TRI THỨC LÀ SỨC MẠNH
                        </div>
                    </div>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="~/Content/assets/images/avatars/adminlogo.jpg" alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="@Url.Action("Logout","Login")">Đăng xuất</a>
                                            <a class="dropdown-item" href="@Url.Action("ChangePassword","Login")">Đổi mật khẩu</a>
                                            <a class="dropdown-item" href="@Url.Action("CapNhatChuKy","Login")">Cập nhật chữ ký</a>


                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        @E_Learning.Models.MyAuthentication.TenNV
                                    </div>
                                    <div class="widget-subheading">
                                        @*PNS*@
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src">
                    </div>

                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar overflow-auto">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Tổng quan</li>
                            <li>
                                <a href="@Url.Action("Index","EClassroom")">
                                    <i class="metismenu-icon pe-7s-display1 font-weight-bold"></i>
                                    Lớp học của bạn
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","ListTestQT", new {IDNV = E_Learning.Models.MyAuthentication.ID,IDVTKNL=E_Learning.Models.MyAuthentication.IDVTKNL})">
                                    <i class="metismenu-icon pe-7s-share font-weight-bold"></i>
                                    QT/HD Công việc của bạn
                                </a>
                            </li>
                            @*@if (checkDGNV == 1 || true)
        {
            <li>
                <a title="Cập nhật KNL" href="@Url.Action("Index","FCheck")"
                    onclick="return confirm('Cần kiểm tra để đảm bảo Vị trí đánh giá trong danh sách đúng với thực tế trước khi thực hiện đánh giá')">
                    <i class="metismenu-icon pe-7s-news-paper font-weight-bold">
                    </i>Đánh giá Khung Năng lực
                </a>
            </li>
        }*@
                            <li>
                                <a title="Cập nhật KNL" href="@Url.Action("Index","FCheck")"
                                   onclick="return confirm('Cần kiểm tra để đảm bảo Vị trí đánh giá trong danh sách đúng với thực tế trước khi thực hiện đánh giá')">
                                    <i class="metismenu-icon pe-7s-news-paper font-weight-bold">
                                    </i>Đánh giá Khung Năng lực
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","FResult",new { IDNV = @E_Learning.Models.MyAuthentication.ID,begind = new DateTime(DateTime.Now.Year, 1, 1),endd =new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1)})">
                                    <i class="metismenu-icon  pe-7s-diskette font-weight-bold">
                                    </i>Kết quả đánh giá KNL
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="metismenu-icon pe-7s-display1 font-weight-bold"></i>
                                    Ký duyệt online
                                </a>
                                <ul id="NCDT">
                                    <li>
                                        <a href="@Url.Action("Index_NCDT", "PheDuyetPhieu")" class="font-size-md font-weight-bold ">
                                            <i class="pe-7s-users"></i>
                                            &nbsp;&nbsp;Nhu cầu đào tạo
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index_CTDT", "PheDuyetPhieu")" class="font-size-md font-weight-bold ">
                                            <i class="pe-7s-users"></i>
                                            &nbsp;&nbsp;Chương trình đào tạo
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("PheDuyetKNL", "FPosition")" class="font-size-md font-weight-bold ">
                                            <i class="pe-7s-users"></i>
                                            &nbsp;&nbsp;Khung năng lực
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index_NDDT", "PheDuyetPhieu")" class="font-size-md font-weight-bold ">
                                            <i class="pe-7s-users"></i>
                                            &nbsp;&nbsp;Nội dung đào tạo
                                        </a>
                                    </li>

                                    @*<li>
            <a href="@Url.Action("Index", "PheDuyetPhieu",new {LoaiKyDuyet = 2})" class="font-size-md font-weight-bold ">
                <i class="pe-7s-users"></i>
                &nbsp;&nbsp;Tổ chức đào tạo
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "PheDuyetPhieu",new {LoaiKyDuyet = 3})" class="font-size-md font-weight-bold ">
                <i class="pe-7s-users"></i>
                &nbsp;&nbsp;Kế hoạch đào tạo
            </a>
        </li>*@
                                </ul>
                            </li>
                            <li class="app-sidebar__heading">Thủ tục đào tạo</li>
                            @if (ListControll.Contains("NoiDungDTTH"))
                            {
                                <li>
                                    <a href="@Url.Action("Index","NoiDungDTTH")">
                                        <i class="metismenu-icon pe-7s-display1 font-weight-bold"></i>
                                        Nội dung đào tạo
                                    </a>
                                </li>
                            }
                            @if (ListControll.Contains("NhuCauDTTH"))
                            {
                                <li class=" @((new List<String> { "NhuCauDTTH" }).Contains(Context.Request.Path.Remove(0,1)) ? "mm-active" : "")">
                                    <a href="">
                                        <i class="metismenu-icon pe-7s-display1 font-weight-bold"></i>
                                        Nhu cầu đào tạo
                                    </a>
                                    <ul id="NCDT">
                                        @foreach (var item in dsloaiNCDT)
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "NhuCauDTTH",new {IDLoaiDT =item.IDLoai})" class="font-size-md font-weight-bold ">
                                                    <i class="pe-7s-users"></i>
                                                    &nbsp;&nbsp;@item.TenLoaiNCDT
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }

                            <li>
                                <a href="@Url.Action("Index","ChuongTrinhDTTH")">
                                    <i class="metismenu-icon pe-7s-display1 font-weight-bold"></i>
                                    Chương trình đào tạo
                                </a>
                            </li>
                            <li class=" @((new List<String> { "ToChucDTTH" }).Contains(Context.Request.Path.Remove(0,1)) ? "mm-active" : "")">
                                <a href="">
                                    <i class="metismenu-icon pe-7s-display1 font-weight-bold"></i>
                                    Tổ chức và quản lý lớp
                                </a>
                                <ul id="NCDT">
                                    <li>
                                        <a href="">
                                            <i class="metismenu-icon pe-7s-display1 font-weight-bold"></i>
                                            Tổ chức đào tạo riêng BP
                                        </a>
                                        <ul id="NCDT">
                                            <li>
                                                <a href="@Url.Action("Index", "ToChucDTTH",new {PhanLoaiNCDT_ID =1,PhuongPhapDT_ID =1})" class="font-size-md font-weight-bold ">
                                                    &nbsp;&nbsp;&nbsp; <i class="pe-7s-users"></i>
                                                    &nbsp;&nbsp; Tổ chức đào tạo E-Learning
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "NhuCauDTTH",new {IDLoaiDT =1})" class="font-size-md font-weight-bold ">
                                                    &nbsp;&nbsp;&nbsp; <i class="pe-7s-users"></i>
                                                    &nbsp;&nbsp; Tổ chức đào tạo tập trung
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "NhuCauDTTH",new {IDLoaiDT =1})" class="font-size-md font-weight-bold ">
                                                    &nbsp;&nbsp;&nbsp; <i class="pe-7s-users"></i>
                                                    &nbsp;&nbsp; Tổ chức đào tạo HTTĐCSKN
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "NhuCauDTTH",new {IDLoaiDT =1})" class="font-size-md font-weight-bold ">
                                                    &nbsp;&nbsp;&nbsp; <i class="pe-7s-users"></i>
                                                    &nbsp;&nbsp; Đề nghị KCCD
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","NoiDungDTTH")">
                                            <i class="metismenu-icon pe-7s-display1 font-weight-bold"></i>
                                            Tổ chức đào tạo khác
                                        </a>
                                        <ul id="NCDT">
                                            <li>
                                                <a href="@Url.Action("Index", "NhuCauDTTH",new {IDLoaiDT =1})" class="font-size-md font-weight-bold ">
                                                    &nbsp;&nbsp;&nbsp; <i class="pe-7s-users"></i>
                                                    &nbsp;&nbsp; Tổ chức đào tạo tập trung
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "NhuCauDTTH",new {IDLoaiDT =1})" class="font-size-md font-weight-bold ">
                                                    &nbsp;&nbsp;&nbsp; <i class="pe-7s-users"></i>
                                                    &nbsp;&nbsp; Tổ chức đào tạo HTTĐCSKN
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","NoiDungDTTH")">
                                            <i class="metismenu-icon pe-7s-display1 font-weight-bold"></i>
                                            Tổ chức đào tạo thuê ngoài tốn phí
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="app-sidebar__heading">Bảng tin</li>
                            <li>
                                <a href="@Url.Action("Index","DinhBien", new {IDPB = E_Learning.Models.MyAuthentication.IDPhongban})">
                                    <i class="metismenu-icon pe-7s-expand1 font-weight-bold"></i>
                                    Thông tin vị trí quản lý
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListNQ","NQView")">
                                    <i class="metismenu-icon pe-7s-way font-weight-bold"></i>
                                    Nội quy lao động
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","TBKyLuat")">
                                    <i class="metismenu-icon pe-7s-ribbon font-weight-bold"></i>
                                    Thông báo xử lý kỷ luật
                                </a>
                            </li>

                            <li id="QuanTri" style="display: none" class="app-sidebar__heading">Quản trị</li>
                            <li class=" @((new List<String> { "Account", "FPermision", "Notification" }).Contains(Context.Request.Path.Remove(0,1)) ? "mm-active" : "")">
                                @if ((new List<String> { "Account", "FPermision", "Notification" }).Any(x => ListControll.Contains(x)))
                                {
                                    <a href="#" id="IDTK" class="">
                                        <i class="metismenu-icon pe-7s-tools font-weight-bold">
                                        </i>Quản trị hệ thống
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                }
                                <ul id="LSTK">
                                    @if (ListControll.Contains("Account"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "Account")" class="font-size-md font-weight-bold @(Context.Request.Path == "/Account" ? "mm-active" : "")">
                                                <i class="pe-7s-users"></i>
                                                &nbsp;&nbsp;Tài khoản
                                            </a>
                                        </li>
                                        showQuanTri = 1;
                                    }
                                    @if (ListControll.Contains("FPermision"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index","FPermision")" class="font-size-md font-weight-bold @(Context.Request.Path == "/FPermision" ? "mm-active" : "")">
                                                <i class="pe-7s-config">
                                                </i>&nbsp;&nbsp;Phân Quyền
                                            </a>
                                        </li>
                                        showQuanTri = 1;
                                    }
                                    @if (ListControll.Contains("Notification"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index","Notification")" class="font-size-md font-weight-bold @(Context.Request.Path == "/Notification" ? "mm-active" : "")">
                                                <i class=" pe-7s-volume2">
                                                </i>&nbsp;&nbsp;Cấu hình thông báo
                                            </a>
                                        </li>
                                        showQuanTri = 1;
                                    }
                                </ul>
                            </li>
                            <li class=" @((new List<String> { "FPosition/ListNVKNL", "FPosition/UpdateNVKN", "FPosition/SetVTPermision" }).Contains(Context.Request.Path.Remove(0,1)) ? "mm-active" : "")">
                                @if ((new List<String> { "USER_KNL", "KN_KNL", "PER_KNL" }).Any(x => ListQFPosition.Contains(x)))
                                {
                                    <a href="#" id="IDTK" class="">
                                        <i class="metismenu-icon pe-7s-tools font-weight-bold">
                                        </i>Quản trị đánh giá KNL
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                }

                                <ul id="LSTK">
                                    @if (ListQFPosition.Contains("USER_KNL"))
                                    {
                                        <li>
                                            <a href="@Url.Action("ListNVKNL","FPosition",new {IDPB = E_Learning.Models.MyAuthentication.IDPhongban})" class="font-size-md font-weight-bold @(Context.Request.Path == "/FPosition/ListNVKNL" ? "mm-active" : "")">
                                                <i class=" pe-7s-shuffle">
                                                </i>&nbsp;&nbsp;QL nhân sự và kết quả KNL
                                            </a>
                                        </li>
                                        showQTriKNL = 1;
                                    }
                                    @if (ListQFPosition.Contains("KN_KNL"))
                                    {
                                        <li>
                                            <a href="@Url.Action("UpdateNVKN","FPosition")" class="font-size-md font-weight-bold @(Context.Request.Path == "/FPosition/UpdateNVKN" ? "mm-active" : "")">
                                                <i class="pe-7s-add-user">
                                                </i>&nbsp;&nbsp;Kiêm nhiệm
                                            </a>
                                        </li>
                                        showQTriKNL = 1;
                                    }
                                    @if (ListQFPosition.Contains("PER_KNL"))
                                    {
                                        <li>
                                            <a href="@Url.Action("SetVTPermision","FPosition",new {IDPB =E_Learning.Models.MyAuthentication.IDPhongban})" class="text-wrap pr-0 font-size-md font-weight-bold @(Context.Request.Path == "/FPosition/SetVTPermision" ? "mm-active" : "")">
                                                <i class=" pe-7s-config">
                                                </i>&nbsp;&nbsp;Phân quyền đánh giá
                                            </a>
                                        </li>
                                        showQTriKNL = 1;
                                    }
                                </ul>
                            </li>
                            <li class=" @((new List<String> { "FDepartment", "FBlock", "FFactory","FGroup","FNest" }).Contains(Context.Request.Path.Remove(0,1)) ? "mm-active" : "")">
                                @if ((new List<String> { "FDepartment", "FBlock", "FFactory", "FGroup", "FNest" }).Any(x => ListControll.Contains(x)))
                                {
                                    <a href="#" id="IDTK" class="">
                                        <i class="metismenu-icon pe-7s-tools font-weight-bold">
                                        </i>Quản trị khung năng lực
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                }
                                <ul id="LSTK">
                                    @if (ListControll.Contains("FDepartment"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index","FDepartment")" class="font-size-md font-weight-bold @(Context.Request.Path == "/FDepartment" ? "mm-active" : "")">
                                                <i class=" pe-7s-tools">
                                                </i>&nbsp;&nbsp;Phòng Ban
                                            </a>
                                        </li>
                                        showQuanTriKNL = 1;
                                    }
                                    @if (ListControll.Contains("FBlock"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index","FBlock")" class="font-size-md font-weight-bold @(Context.Request.Path == "/FBlock" ? "mm-active" : "")">
                                                <i class=" pe-7s-target">
                                                </i>&nbsp;&nbsp;Khối
                                            </a>
                                        </li>
                                        showQuanTriKNL = 1;
                                    }
                                    @if (ListControll.Contains("FFactory"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index","FFactory")" class="font-size-md font-weight-bold @(Context.Request.Path == "/FFactory" ? "mm-active" : "")">
                                                <i class=" pe-7s-browser">
                                                </i>&nbsp;&nbsp;Xưởng
                                            </a>
                                        </li>
                                        showQuanTriKNL = 1;
                                    }
                                    @if (ListControll.Contains("FGroup"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index","FGroup")" class="font-size-md font-weight-bold @(Context.Request.Path == "/FGroup" ? "mm-active" : "")">
                                                <i class=" pe-7s-tools">
                                                </i>&nbsp;&nbsp;Danh sách Nhóm
                                            </a>
                                        </li>
                                        showQuanTriKNL = 1;
                                    }
                                    @if (ListControll.Contains("FNest"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index","FNest")" class="font-size-md font-weight-bold @(Context.Request.Path == "/FNest" ? "mm-active" : "")">
                                                <i class=" pe-7s-tools">
                                                </i>&nbsp;&nbsp;Danh sách Tổ
                                            </a>
                                        </li>
                                        showQuanTriKNL = 1;
                                    }
                                </ul>
                            </li>



                            <li id="quanly" style="" class="app-sidebar__heading">Danh mục quản lý</li>
                            @if (ListControll.Contains("FPosition"))
                            {
                                <li>
                                    <a href="@Url.Action("Index","FPosition",new {IDPB = E_Learning.Models.MyAuthentication.IDPhongban})">
                                        <i class="metismenu-icon pe-7s-tools">
                                        </i>Danh sách Vị trí KNL
                                    </a>
                                </li>
                                showKNL = 1;
                            }
                            <li class=" @((new List<String> { "NoiDungDTKCCD", "SuggestKCCD/Approve", "SuggestKCCD" }).Contains(Context.Request.Path.Remove(0,1)) ? "mm-active" : "")">

                                <a href="#" id="IDTK" class="">
                                    <i class="metismenu-icon pe-7s-graph1 font-weight-bold">
                                    </i>Kèm cặp chỉ dẫn
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>

                                <ul id="LSTK">
                                    @if (checkAppro == 1)
                                    {
                                        <li>
                                            <a href="@Url.Action("Approve", "SuggestKCCD")" class="font-size-md font-weight-bold @(Context.Request.Path == "/SuggestKCCD/Approve" ? "mm-active" : "")">
                                                <i class=" pe-7s-repeat">
                                                </i>&nbsp;&nbsp;Phê duyệt phiếu KCCD
                                            </a>
                                        </li>
                                    }
                                    @if (ListControll.Contains("NoiDungDTKCCD"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "NoiDungDTKCCD")" class="font-size-md font-weight-bold @(Context.Request.Path == "/NoiDungDTKCCD" ? "mm-active" : "")">
                                                <i class=" pe-7s-note2">
                                                </i>&nbsp;&nbsp;Nội dung đào tạo KCCD
                                            </a>
                                        </li>

                                    }
                                    <li>
                                        <a href="@Url.Action("Index", "SuggestKCCD",new { IDPB = E_Learning.Models.MyAuthentication.IDPhongban})" class="font-size-md font-weight-bold @(Context.Request.Path == "/SuggestKCCD" ? "mm-active" : "")">
                                            <i class=" pe-7s-paper-plane">
                                            </i>&nbsp;&nbsp;Đề nghị KCCD
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class=" @((new List<String> { "NoiDungQT", "ResultQTHD/ListNV", "ResultQTHD" }).Contains(Context.Request.Path.Remove(0,1)) ? "mm-active" : "")">
                                @if ((new List<String> { "NoiDungQT", "CauHoiQT", "ResultQTHD" }).Any(x => ListControll.Contains(x)))
                                {
                                    <a href="#" id="IDTK" class="">
                                        <i class="metismenu-icon pe-7s-network font-weight-bold">
                                        </i>Quy trình / Hướng dẫn
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                }

                                <ul id="LSTK">
                                    @if (ListControll.Contains("NoiDungQT"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "NoiDungQT")" class="font-size-md font-weight-bold @(Context.Request.Path == "/NoiDungQT" ? "mm-active" : "")">
                                                <i class=" pe-7s-note2">
                                                </i>&nbsp;&nbsp;Nội dung QT/HD
                                            </a>
                                        </li>
                                    }
                                    @if (ListControll.Contains("CauHoiQT"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "ResultQTHD")" class="font-size-md font-weight-bold @(Context.Request.Path == "/ResultQTHD/ListNV" ? "mm-active" : "")">
                                                <i class=" pe-7s-edit">
                                                </i>&nbsp;&nbsp;Câu hỏi QT/HD
                                            </a>
                                        </li>
                                    }
                                    @if (ListControll.Contains("ResultQTHD"))
                                    {
                                        <li>
                                            <a href="@Url.Action("ListNV", "ResultQTHD",new {IDPB = E_Learning.Models.MyAuthentication.IDPhongban})" class="font-size-md font-weight-bold @(Context.Request.Path == "/ResultQTHD" ? "mm-active" : "")">
                                                <i class=" pe-7s-graph3">
                                                </i>&nbsp;&nbsp;Kết quả QT/HD
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>



                            <li class=" @(Context.Request.Path == "/NoiDungNQLD" || Context.Request.Path == "/ResultNQLD" ? "mm-active" : "")">
                                @if ((new List<String> { "NoiDungNQLD", "ResultNQLD" }).Any(x => ListControll.Contains(x)))
                                {
                                    <a href="#" id="IDTK" class="">
                                        <i class="metismenu-icon pe-7s-photo-gallery font-weight-bold">
                                        </i>Nội quy lao động
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                }

                                <ul id="LSTK">
                                    @if (ListControll.Contains("NoiDungNQLD"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "NoiDungNQLD")" class="font-size-md font-weight-bold @(Context.Request.Path == "/NoiDungNQLD" ? "mm-active" : "")">
                                                <i class=" pe-7s-note2">
                                                </i>&nbsp;&nbsp;Nội dung NQLĐ
                                            </a>
                                        </li>
                                    }
                                    @if (ListControll.Contains("ResultNQLD"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "ResultNQLD")" class=" font-weight-bold @(Context.Request.Path == "/ResultNQLD" ? "mm-active" : "")">
                                                <i class=" pe-7s-graph3">
                                                </i>&nbsp;&nbsp;Kết quả NQLĐ
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class=" @(Context.Request.Path == "/ManageETContent" || Context.Request.Path == "/ManageClass" || Context.Request.Path == "/LibraryField" ? "mm-active" : "")">
                                @if ((new List<String> { "ManageETContent", "ManageClass", "LibraryField" }).Any(x => ListControll.Contains(x)))
                                {
                                    <a href="#" id="IDTK" class="">
                                        <i class="metismenu-icon pe-7s-photo-gallery font-weight-bold">
                                        </i>Quản lý học vụ
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                }
                                <ul id="LSTK">
                                    @if (ListControll.Contains("ManageETContent"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "ManageETContent")" class="font-size-md font-weight-bold @(Context.Request.Path == "/ManageETContent" ? "mm-active" : "")">
                                                <i class=" pe-7s-note2">
                                                </i>&nbsp;&nbsp;Quản lý NDĐT
                                            </a>
                                        </li>
                                    }
                                    @if (ListControll.Contains("ManageClass"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "ManageClass")" class=" font-weight-bold @(Context.Request.Path == "/ManageClass" ? "mm-active" : "")">
                                                <i class=" pe-7s-graph3">
                                                </i>&nbsp;&nbsp;Quản lý Lớp học
                                            </a>
                                        </li>
                                    }
                                    @if (ListControll.Contains("LibraryField"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "LibraryField")" class=" font-weight-bold @(Context.Request.Path == "/LibraryField" ? "mm-active" : "")">
                                                <i class=" pe-7s-graph3">
                                                </i>&nbsp;&nbsp;Thư viện NDĐT
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li class=" @(Context.Request.Path == "/Question" || Context.Request.Path == "/ManageTestExam" ? "mm-active" : "")">
                                @if ((new List<String> { "Question", "ManageTestExam" }).Any(x => ListControll.Contains(x)))
                                {
                                    <a href="#" id="IDTK" class="">
                                        <i class="metismenu-icon pe-7s-photo-gallery font-weight-bold">
                                        </i>Quản lý câu hỏi đề thi
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                }
                                <ul id="LSTK">
                                    @if (ListControll.Contains("Question"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "Question", new {IDND =1})" class="font-size-md font-weight-bold @(Context.Request.Path == "/Question" ? "mm-active" : "")">
                                                <i class=" pe-7s-note2">
                                                </i>&nbsp;&nbsp; Ngân hàng câu hỏi
                                            </a>
                                        </li>
                                    }
                                    @if (ListControll.Contains("ManageTestExam"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "ManageTestExam", new {IDND =1})" class=" font-weight-bold @(Context.Request.Path == "/ManageTestExam" ? "mm-active" : "")">
                                                <i class=" pe-7s-graph3">
                                                </i>&nbsp;&nbsp; Ngân hàng đề thi
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            @*@if (User.Identity.IsAuthenticated)
        {

            if (E_Learning.Models.MyAuthentication.IDQuyen == 1)
            {
                <li class="app-sidebar__heading">Quản lý Học Vụ</li>
                <li>
                    <a href="@Url.Action("Index","ManageETContent")">
                        <i class="metismenu-icon pe-7s-portfolio"></i>
                        Quản lý NDĐT
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ManageClass", new {IDPB = E_Learning.Models.MyAuthentication.IDPhongban})">
                        <i class="metismenu-icon pe-7s-id"></i>
                        Quản lý Lớp học
                    </a>
                </li>


                <li>
                    <a href="@Url.Action("Index","LibraryField")">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Thư viện NDĐT
                    </a>
                </li>

                <li class="app-sidebar__heading">Quản lý câu hỏi đề thi</li>
                <li>
                    <a href="@Url.Action("Index", "Question", new {IDND =1})">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Ngân hàng câu hỏi
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","ManageTestExam", new {IDND =1})">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Ngân hàng đề thi
                    </a>
                </li>
            }


            else if (E_Learning.Models.MyAuthentication.IDQuyen == 2 || E_Learning.Models.MyAuthentication.IDQuyen == 3)
            {
                <li class="app-sidebar__heading">Quản lý Học Vụ</li>
                <li>
                    <a href="@Url.Action("Index","ManageETContent")">
                        <i class="metismenu-icon pe-7s-portfolio"></i>
                        Quản lý NDĐT
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","ManageClass")">
                        <i class="metismenu-icon pe-7s-id"></i>
                        Quản lý Lớp học
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","LibraryField")">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Thư viện NDĐT
                    </a>
                </li>
                <li class="app-sidebar__heading">Quản lý câu hỏi đề thi</li>
                <li>
                    <a href="@Url.Action("Index","Question")">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Ngân hàng câu hỏi
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","ManageTestExam")">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Ngân hàng đề thi
                    </a>
                </li>
            }
            else
            {
                <li id="QTriHV" style="display: none" class="app-sidebar__heading">Quản lý Học Vụ</li>
                if (ListControll.Contains("ManageETContent"))
                {
                    <li>
                        <a href="@Url.Action("Index","ManageETContent")">
                            <i class="metismenu-icon pe-7s-portfolio"></i>
                            Quản lý NDĐT
                        </a>
                    </li>
                    showQTriHV = 1;
                }
                if (ListControll.Contains("ManageClass"))
                {
                    <li>
                        <a href="@Url.Action("Index","ManageClass")">
                            <i class="metismenu-icon pe-7s-id"></i>
                            Quản lý Lớp học
                        </a>
                    </li>
                    showQTriHV = 1;
                }
                if (ListControll.Contains("LibraryField"))
                {
                    <li>
                        <a href="@Url.Action("Index","LibraryField")">
                            <i class="metismenu-icon pe-7s-display2"></i>
                            Thư viện NDĐT
                        </a>
                    </li>
                    showQTriHV = 1;
                }
                <li id="QTriCHDT" style="display: none" class="app-sidebar__heading">Quản lý câu hỏi đề thi</li>
                if (ListControll.Contains("Question"))
                {
                    <li>
                        <a href="@Url.Action("Index","Question")">
                            <i class="metismenu-icon pe-7s-display2"></i>
                            Ngân hàng câu hỏi
                        </a>
                    </li>
                    showQTriCHDT = 1;
                }
                if (ListControll.Contains("ManageTestExam"))
                {
                    <li>
                        <a href="@Url.Action("Index","ManageTestExam")">
                            <i class="metismenu-icon pe-7s-display2"></i>
                            Ngân hàng đề thi
                        </a>
                    </li>
                    showQTriCHDT = 1;
                }


            }
        }*@


                            @if (ListControll.Contains("Statistic"))
                            {
                                <li id="ThongKe" style="" class="app-sidebar__heading">Thống kê</li>
                                <li>
                                    <a href="#" id="IDTK">
                                        <i class="metismenu-icon pe-7s-graph font-weight-bold">
                                        </i>Thống kê
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                    <ul id="LSTK">
                                        <li>
                                            <a href="@Url.Action("Index", "Statistic")">
                                                <i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp; Thống kê Học tập
                                            </a>
                                        </li>
                                        @*<li>
                        <a href="@Url.Action("Index", "Statistic")">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Thống kê KNL
                        </a>
                    </li>*@
                                    </ul>
                                </li>
                            }
                            <li class="app-sidebar__heading">Thư viện</li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-notebook font-weight-bold">
                                    </i>Tài liệu
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","EGuide")">
                                    <i class="metismenu-icon pe-7s-headphones font-weight-bold">
                                    </i>Hướng dẫn sử dụng
                                </a>
                            </li>
                            @*<li id="KNL" class="app-sidebar__heading">Khung Năng Lực</li>*@





                            @*<li id="QTriKNL" style="display: none" class="app-sidebar__heading">Quản trị đánh giá KNL</li>*@


                            @*<li id="QuanTriKNL" style="display: none" class="app-sidebar__heading">Quản trị Khung năng lực</li>*@







                        </ul>
                    </div>
                </div>
            </div>

            @RenderBody()


        </div>
        <!--<div class="modal-body noti" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <h5>Popover in a modal</h5>
        <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p>
        <hr>
        <h5>Tooltips in a modal</h5>
        <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> have tooltips on hover.</p>
    </div>-->
        <!-- Button trigger modal -->
        <!--<button type="button" class=" btnnoti" style="padding:0" data-toggle="modal" data-target="#exampleModal">
           <img src="~/Content/assets/images/envelope.png" width="40" />
    </button>-->
        @{
            Html.RenderAction("Details", "Notification");
        }
    </div>

    <script type="text/javascript" src="~/Content/assets/scripts/main.js"></script>
    <script>
        $(document).ready(function () {
            if (@showQuanTriKNL == 1) {
                $("#QuanTriKNL").css("display", "block");
            };
            if (@showKNL == 1) {
                $("#KNL").css("display", "block");
            };
            if (@showQuanTri == 1) {
                $("#QuanTri").css("display", "block");
            };
            if (@showQTriKNL == 1) {
                $("#QTriKNL").css("display", "block");
            };
            if (@showQTriHV == 1) {
                $("#QTriHV").css("display", "block");
            };
            if (@showQTriCHDT == 1) {
                $("#QTriCHDT").css("display", "block");
            };
        })
    </script>
    <script type="text/javascript">
        window.onload = function () {
            document.addEventListener("contextmenu", function (e) {
                e.preventDefault();
            }, false);
            document.addEventListener("keydown", function (e) {
                //document.onkeydown = function(e) {
                // "I" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                    disabledEvent(e);
                }
                // "J" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                    disabledEvent(e);
                }
                // "S" key + macOS
                if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                    disabledEvent(e);
                }
                // "U" key
                if (e.ctrlKey && e.keyCode == 85) {
                    disabledEvent(e);
                }
                // "F12" key
                if (event.keyCode == 123) {
                    disabledEvent(e);
                }
            }, false);

            function disabledEvent(e) {
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
                e.preventDefault();
                return false;
            }
        };

    </script>


</body>
</html>
