
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using E_Learning.Models
@using E_Learning.ModelsQTHD
@model PagedList.IPagedList<CauHoiQTListView>
@using PagedList.Mvc
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}



<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-id icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh Sách Câu Hỏi
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        <div class="col-md-7 col-lg-7">
                            <div class="row">
                              
                                <div class="col-md-3">
                                    @Html.DropDownList("MaHieuQT", null, "--Mã hiệu--", new { id = "MaHieuQT", @class = "form-control marginTB5", @style = "width:100%", })
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownList("NoiDungQT", null, "--Quy trình--", new { id = "NoiDungQT", @class = "form-control marginTB5", @style = "width:100%", })
                                </div>
                              
                                <div class="col-md-2 form-control">
                                    <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center" width="30px">STT</th>
                                        <th class="text-center">Thao tác</th>

                                        <th class="text-center" width="300px">Nội Dung Câu Hỏi</th>
                                        <th class="text-center">Đáp Án A</th>
                                        <th class="text-center">Đáp Án B</th>
                                        <th class="text-center">Đáp Án C</th>
                                        <th class="text-center">Đáp Án D</th>
                                        <th class="text-center">Nội dung QT/HD</th>
                                        <th class="text-center">Tổng lượt thi</th>
                                        <th class="text-center">Lượt đạt</th>
                                        <th class="text-center">Lượt chưa đạt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        var colorA = "";
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                                            <td class="text-center">
                                                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.EDIT))
                                                {
                                                    <a id="btn-edit_@item.IDCH" title="Sửa" class="fa fa-edit icon_action"></a>
                                                    <div class="modal fade" id="myModaleCH_@item.IDCH" role="dialog" data-url='@Url.Action("Edit", "CauHoiQT", new { id = item.IDCH})'></div>
                                                    <script type="text/javascript">
                                                    $("#btn-edit_@item.IDCH").click(function () {
                                                        var url = $('#myModaleCH_@item.IDCH').data('url');
                                                      /*  tinymce.remove('.myTextarea');*/
                                                        $.get(url, function (data) {
                                                            $('#myModaleCH_@item.IDCH').html(data);
                                                            $("#ModalTitle").html("Cập nhật Câu hỏi");
                                                            $('#myModaleCH_@item.IDCH').modal('show');
                                                        });
                                                    });
                                                    </script>
                                                }
                                                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.DEL))
                                                {

                                                    <a class="fa fa-trash icon_action" title="Xóa" href="@Url.Action("Delete", "CauHoiQT", new { id = item.IDCH,IDQTHD = item.QTHDID })"
                                                       onclick="return confirm('Bạn muốn xóa Câu Hỏi: @item.NoiDungCH')">
                                                    </a>
                                                }
                                            </td>

                                            <td>@Html.Raw(item.NoiDungCH)</td>
                                            <td>@item.DapAnA</td>
                                            <td>@item.DapAnB</td>
                                            <td>@item.DapAnC</td>
                                            <td>@item.DapAnD</td>
                                            <td>@item.TenQT</td>
                                            <td class="text-center">@item.CountBaiThi</td>
                                            <td class="text-center">@item.CountDat </td>
                                            <td class="text-center">@item.CountKhongDat</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="pager float-right">
                            @Html.PagedListPager(Model, page => Url.Action("Index", "ResultQTHD", new { page, IDTinhTrang = Request.QueryString["IDTinhTrang"], IDQT = Request.QueryString["IDQT"], IDPB = Request.QueryString["IDPB"], IDMahieu = Request.QueryString["IDMahieu"], IDLVDT = Request.QueryString["IDLVDT"] }))
                            <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>


            </div>


            <div class="app-wrapper-footer">
                <div class="app-footer">
                    <div class="app-footer__inner">
                    </div>
                </div>
            </div>


        </div>


        <script type="text/javascript">
            $("#NoiDungQT").chosen({
                width: "100%",
            });
            $("#MaHieuQT").chosen({
                width: "100%",
            });
            $("#btn-search").on('click', function () {
                var search = $('#txtsearch').val();
                window.location.href = '@Url.Action("Index", "ResultQTHD")?search=' + search + "&IDQT=" + $('#NoiDungQT').val() + "&IDMahieu=" + $('#MaHieuQT').val();
            });

        </script>

        <style>
            .chosen-container-single .chosen-single {
                color: #495057;
                background: #fff;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.8;
                text-transform: capitalize;
            }

                .chosen-container-single .chosen-single span {
                    text-transform: capitalize !important;
                    font-size: 16px !important;
                }
        </style>



