
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using E_Learning.Models
@using E_Learning.ModelsNQLD
@model PagedList.IPagedList<ResultNQLDView>
@using PagedList.Mvc
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}



<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-id icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Kết quả Nội quy lao động
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.EX))
            {
              
                <div class="col-md-2">
                    <a class="fa fa-file-excel float-right btn btn-primary m-1" title="Export dữ liệu" href="@Url.Action("ExportData", "ResultNQLD",new { IDPB = Request.QueryString["IDPB"],IDQT = Request.QueryString["IDQT"],IDMaHieu = Request.QueryString["IDMaHieu"] })"
                       onclick="return confirm('Export dữ liệu?')">
                        &nbsp;Thống kê Nội quy lao động
                    </a>
                </div>
            }

        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        <div class="col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="text" id="txtsearch" name="" placeholder="Nhập mã nhân viên" class="form-control position-relative" style="top:-5px" value="@ViewBag.search">
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("LisNV", null, "--Nhân viên--", new { id = "LisNV", @class = "form-control ", @style = "width:100%", })
                                </div>

                                <div class="col-md-4">
                                    @Html.DropDownList("IDPB", null, "--Phòng Ban/Bộ phận--", new { id = "IDPB", @class = "form-control ", @style = "width:100%", })
                                </div>

                                <div class="col-md-2 form-control">
                                    <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center" width="30px">STT</th>
                                        <th class="text-center">Thao tác</th>

                                        <th class="text-center" >Mã Nhân viên</th>
                                        <th class="text-center">Họ Tên</th>
                                        <th class="text-center">Phòng Ban</th>
                                        @foreach (var hd in ViewBag.ColumHeader)
                                        {
                                            <th class="text-center">@hd</th>
                                        }
                                        @*<th class="text-center">Đáp Án C</th>
                                        <th class="text-center">Đáp Án D</th>
                                        <th class="text-center">Nội dung QT/HD</th>
                                        <th class="text-center">Tổng lượt thi</th>
                                        <th class="text-center">Lượt đạt</th>
                                        <th class="text-center">Lượt chưa đạt</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        var colorA = "";
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                                            <td class="text-center">
                                                <a class="fas fa-eye icon_action" title="Chi tiết NQLĐ" href="@Url.Action("ResultView", "ResultNQLD", new { IDNV = item.IDNV})">
                                                </a>
                                            </td>

                                            <td>@item.MaNV</td>
                                            <td>@item.HoTen</td>
                                            <td>@item.PhongBan</td>
                                            @foreach (var kq in item.ListKQuaNQLD)
                                            {
                                                if (kq.TinhTrang == 1)
                                                {
                                                    <td class="text-success">Đã hoàn thành</td>
                                                }
                                                else
                                                {
                                                    <td class="text-center"></td>
                                                }
                                            }
                                            @*<td>@item.DapAnC</td>
        <td>@item.DapAnD</td>
        <td>@item.TenQT</td>
        <td class="text-center">@item.CountBaiThi</td>
        <td class="text-center">@item.CountDat </td>
        <td class="text-center">@item.CountKhongDat</td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="pager float-right">
                            @Html.PagedListPager(Model, page => Url.Action("Index", "ResultNQLD", new { page, IDNV = Request.QueryString["IDNV"], IDQT = Request.QueryString["IDQT"], IDPB = Request.QueryString["IDPB"], IDMahieu = Request.QueryString["IDMahieu"], IDLVDT = Request.QueryString["IDLVDT"] }))
                            <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">
    $("#LisNV").chosen({
                width: "100%",
    });
    $("#IDPB").chosen({
        width: "100%",
    });
            $("#MaHieuQT").chosen({
                width: "100%",
            });
            $("#btn-search").on('click', function () {
                var search = $('#txtsearch').val();
                window.location.href = '@Url.Action("Index", "ResultNQLD")?search=' + search + "&IDNV=" + $('#LisNV').val() + "&IDPB=" + $('#IDPB').val() ;
            });

</script>

<style>
    .chosen-container-single .chosen-single {
        color: #495057;
        background: #fff;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        text-transform: capitalize;
    }

        .chosen-container-single .chosen-single span {
            text-transform: capitalize !important;
            font-size: 16px !important;
        }
</style>



