@model E_Learning.Models.LinhVucDT
@using (Ajax.BeginForm("Edit", "RenewLinhVuc", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "modalContent",
    OnSuccess = "onModalSuccess"
}, new { @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IDLVDT)
    <div class="form-group">
        @Html.LabelFor(m => m.TenLVDT)
        @Html.TextBoxFor(m => m.TenLVDT, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TenLVDT, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TenLVDT)
        @Html.TextAreaFor(m => m.TenLVDT, new { @class = "form-control" })
    </div>
    <div class="form-check mb-2">
        @*@Html.CheckBoxFor(m => m.NoiDungDT, new { @class = "form-check-input" })*@
        @Html.LabelFor(m => m.TenLVDT, new { @class = "form-check-label" })
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
}
