
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDMST.cshtml";
}

@model PagedList.IPagedList<E_Learning.ModelsDMST.XuLyLinhVucViewModel>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        Lĩnh vực Đổi mới sáng tạo
                    </div>
                    
                    <div class="card-header">
                        <div class="row w-100 align-items-end g-2">

                            <!-- Bộ lọc -->
                            <div class="col-md-6 col-12">
                                @using (Html.BeginForm("Index", "RenewLinhVuc", FormMethod.Get))
                                {
                                    <div class="form-group mb-0">
                                        <label for="linhVucFilter" class="form-label fw-bold small text-uppercase">Lĩnh vực:</label>
                                        <div class="input-group">
                                            @Html.DropDownList("linhVucFilter", ViewBag.DSLinhVuc as SelectList, "-- Tất cả --", new
                                            {
                                              @class = "form-control form-control-sm",
                                                id = "linhVucFilter"
                                            })
                                            <div class="input-group-append ms-2">
                                                <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <!-- Nút thêm mới -->
                            <div class="col-md-6 col-12 text-md-end text-start mt-2 mt-md-0">
                                <button type="button" id="btn-add" class="btn btn-sm btn-primary">
                                    <i class="fas fa-plus me-1"></i> Thêm mới
                                </button>
                                <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","RenewLinhVuc")'></div>
                            </div>

                        </div>
                    </div>


                    <div class="card-body">
                        <div class="table-responsive">
                            <form method="post" id="myForm">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th width="30px" style="text-align: center">STT</th>
                                            <th class="text-center" width="100px" style="vertical-align:middle">Tên lĩnh vực</th>
                                            @*<th class="text-center" width="150px" style="vertical-align:middle">Trạng thái</th>*@
                                            <th class="text-center" width="150px" style="vertical-align:middle">Phòng ban xử lý</th>
                                            @*<th class="text-center" width="150px" style="vertical-align:middle">Chức vụ xử lý</th>*@
                                            <th class="text-center" width="150px" style="vertical-align:middle">Nhân sự xử lý</th>
                                            <th class="text-center" width="100px" style="vertical-align:middle">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int index = (Model.PageNumber - 1) * Model.PageSize + 1;
                                        }
                                        @if (!Model.Any())
                                        {
                                            <tr>
                                                <td colspan="10" class="text-center text-muted">
                                                    Không tìm thấy dữ liệu.
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var linhVuc in Model)
                                            {
                                                <tr>
                                                    <td class="text-center">@index</td>
                                                    <td>@linhVuc.TenLinhVuc</td>
                                                    <td>
                                                        @foreach (var pb in linhVuc.PhongBans)
                                                        {
                                                            <div>@pb.TenPhongBan</div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @foreach (var pb in linhVuc.PhongBans)
                                                        {
                                                            <div>
                                                                <strong>@pb.TenPhongBan:</strong>
                                                                <ul class="mb-2">
                                                                    @foreach (var nv in pb.NhanViens)
                                                                    {
                                                                        <li>@nv.HoTen - @string.Join(", ", nv.ChucVus)</li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0);"
                                                           class="btn-delete-linhvuc"
                                                           data-id="@linhVuc.ID_LinhVuc"
                                                           title="Xóa">
                                                            Xóa
                                                        </a>
                                                        |
                                                        <a id="btn-edit_@linhVuc.ID_LinhVuc" href="#" title="Sửa" style="cursor:pointer;">Xử lý</a>
                                                        <div class="modal fade" id="myModale_@linhVuc.ID_LinhVuc" role="dialog" data-url='@Url.Action("Edit","RenewLinhVuc", new { id = @linhVuc.ID_LinhVuc })'></div>
                                                        <script type="text/javascript">
                                                        $("#btn-edit_@linhVuc.ID_LinhVuc").click(function () {
                                                            var url = $('#myModale_@linhVuc.ID_LinhVuc').data('url');
                                                            $.get(url, function (data) {
                                                                if (data.error) {
                                                                    alert(data.message);
                                                                } else {
                                                                    $("#myModale_@linhVuc.ID_LinhVuc").html(data);
                                                                    $(".ModalTitle_Edit").html("Cập nhật Thành viên");
                                                                    $("#myModale_@linhVuc.ID_LinhVuc").modal('show');
                                                                }
                                                            });
                                                        });
                                                        </script>
                                                    </td>
                                                </tr>
                                                index++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </form>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new
                                {
                                    page,
                                    linhVucFilter = ViewBag.linhVucFilter
                                }))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>
</div>

<script>
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle_Create").html("Thêm mới Lĩnh vực");
            $("#myModal").modal('show');
        });
    });

    $(document).on('click', '.btn-delete-linhvuc', function () {
        var id = $(this).data('id');

        if (confirm('Bạn có chắc chắn muốn xóa?')) {
            $.ajax({
                url: '/RenewLinhVuc/Delete',
                type: 'POST',
                data: { id: id },
                success: function (res) {
                    if (res.success) {
                        alert('Xóa thành công');
                        location.reload();
                    } else {
                        alert('Xóa thất bại');
                    }
                },
                error: function () {
                    alert('Lỗi xảy ra khi xóa');
                }
            });
        }
    });
</script>

