
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using E_Learning.Models
@model PagedList.IPagedList<ViTriKNLValidation>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />



@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}

<style type="text/css">
    a:hover {
        cursor: pointer;
    }

    .table-responsive {
        height: 720px;
        overflow-y: scroll;
        /*overflow:auto;*/
        /*height:70vh;*/
    }

    thead tr:nth-child(1) th {
        background: white;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .table-responsive::-webkit-scrollbar {
        width: 2px;
    }
</style>

<div class="app-main__outer">
    <div class="app-main__inner" style="padding: 30px 15px">

        <div class="app-page-title d-none" style="padding-bottom:0">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-id icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh Sách Vị Trí Khung Năng Lực
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="text" id="txtsearch" name="" placeholder="Nhập mã vị trí" class="form-control position-relative" style="top:-5px" value="@ViewBag.search">
            </div>
           
        </div>
        <div class="card mb-4">
            <div class="card-header" style="padding-top:20px">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <label class=" mb-1">Bộ phận</label>
                                @Html.DropDownList("IDPB", null, "--Bộ Phận--", new { id = "IDPB", @class = "form-control marginTB5", })
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="row m-0">
                                <label class=" mb-1">Khối</label>
                                @Html.DropDownList("IDKhoi", null, "--Khối--", new { id = "IDKhoi", @class = "form-control marginTB5", })
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="row m-0">
                                <label class=" mb-1">Phân Xưởng</label>
                                <select class="form-control marginTB5" name="IDPX" id="IDPX">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row m-0">
                                <label class=" mb-1">Nhóm</label>
                                <select class="form-control marginTB5" name="IDNhom" id="IDNhom">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row m-0">
                                <label class=" mb-1">Tổ</label>
                                <select class="form-control marginTB5" name="IDTo" id="IDTo">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="input-group-btn" style="margin-top:24px"><button class="btn btn-primary marginTB5" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button></div>
                        </div>

                    </div>

                </div>


            </div>
            @using (Html.BeginForm("ChangePositon", "FPosition", FormMethod.Post))
            {
                <div class="card-body" style="padding:15px 10px;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0" data-show-columns="true">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center" width="30px">STT</th>
                                    <th class="text-center">Tên Vị Trí Khung Năng Lực</th>
                                    <th class="text-center">Mã vị trí</th>
                                    <th class="text-center">Bộ Phận</th>
                                    <th class="text-center">Khối</th>
                                    <th class="text-center">Phân Xưởng</th>
                                    <th class="text-center">Nhóm</th>
                                    <th class="text-center">Tổ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int pageno = (int)Model.PageNumber;
                                    int itemperpage = (int)Model.PageSize;
                                    int RowNo = ((pageno - 1) * itemperpage) + 1;
                                }

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                    <td class="">@item.TenViTri</td>
                                    <td class="">@item.MaViTri</td>
                                    <td>
                                        <select class="form-control marginTB5 SelectBP" name="IDPB_@item.IDVT" id="IDPB_@item.IDVT">
                                            <option value='null'>--Chọn Phòng Ban--</option>
                                            @foreach (var item1 in ViewBag.IDPB)
                                            {
                                                if (item1.Value == item.IDPB.ToString())
                                                {
                                                    <option value='@item1.Value' selected>@item1.Text</option>
                                                }
                                                else
                                                {
                                                    <option value='@item1.Value'>@item1.Text</option>
                                                }
                                            }
                                        </select>
                            
                                    </td>
                                    <td>
                                        <select class="form-control marginTB5 SelectK" name="IDK_@item.IDVT" id="IDK_@item.IDVT">
                                            <option value='null'>--Chọn Khối--</option>
                                            @foreach (var item1 in ViewBag.IDKhoi)
                                            {
                                                if (item1.Value == item.IDKhoi.ToString())
                                                {
                                                    <option value='@item1.Value' selected>@item1.Text</option>
                                                }
                                                else
                                                {
                                                    <option value='@item1.Value'>@item1.Text</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control marginTB5 SelectPX" name="IDPX_@item.IDVT" id="IDPX_@item.IDVT">
                                            <option value='null'>--Chọn Phân xưởng--</option>
                                            @foreach (var item1 in ViewBag.IDPX)
                                            {
                                                if (item1.Value == item.IDPX.ToString())
                                                {
                                                    <option value='@item1.Value' selected>@item1.Text</option>
                                                }
                                                else
                                                {
                                                    <option value='@item1.Value'>@item1.Text</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control marginTB5 SelectNhom" name="IDNhom_@item.IDVT" id="IDNhom_@item.IDVT">
                                            <option value='null'>--Chọn Nhóm--</option>
                                            @foreach (var item1 in ViewBag.IDNhom)
                                            {
                                                if (item1.Value == item.IDNhom.ToString())
                                                {
                                                    <option value='@item1.Value' selected>@item1.Text</option>
                                                }
                                                else
                                                {
                                                    <option value='@item1.Value'>@item1.Text</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control marginTB5 SelectTo" name="IDTo_@item.IDVT" id="IDTo_@item.IDVT">
                                            <option value='null'>--Chọn Tổ--</option>
                                            @foreach (var item1 in ViewBag.IDTo)
                                            {
                                                if (item1.Value == item.IDTo.ToString())
                                                {
                                                    <option value='@item1.Value' selected>@item1.Text</option>
                                                }
                                                else
                                                {
                                                    <option value='@item1.Value'>@item1.Text</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pager">
                            @Html.PagedListPager(Model, page => Url.Action("ChangePositon", "FPosition", new { page, IDPB = Request.QueryString["IDPB"], IDPX = Request.QueryString["IDPX"], IDNhom = Request.QueryString["IDNhom"], IDTo = Request.QueryString["IDTo"], IDKhoi = Request.QueryString["IDKhoi"] }))
                            <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                        </div>
                    </div>
                </div>
                <span class="m-l-auto">
                    <input class="btn btn-success m-l-auto mr-1" type="submit" value="Lưu thay đổi" />
                </span>
            }
        </div>



    </div>


    <div class="app-wrapper-footer d-none">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>

@*<script src="~/Content/Chonse/chosen.jquery.js"></script>*@
<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới vị trí");
            $("#myModal").modal('show');
        });
    });
    $('#btn-add-vt').click(function () {
        var url = $('#myModalVT').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Danh sách mã vị trí");
            $("#myModal").modal('show');
        });
    });

    $("#IDPB").chosen({
        width: "100%"
    });
    $(".SelectBP").chosen({
        width: "100%"
    });
    $("#btn-search").on('click', function () {
        window.location.href = '@Url.Action("ChangePositon", "FPosition")?IDPB=' + $('#IDPB').val() + "&IDPX=" + $('#IDPX').val() + "&IDNhom=" + $('#IDNhom').val() + "&IDTo=" + $('#IDTo').val() + "&IDKhoi=" + $('#IDKhoi').val() + "&search=" + $('#txtsearch').val();
        //if ($('#IDPX').val() != null) {
        //    $('#IDPX').val(Request.QueryString["IDPX"]);
        //}
    });
    $(document).ready(function () {
        const par = new URLSearchParams(window.location.search);
        if (par.get('IDKhoi')) {
            $("#IDKhoi").change();
        }
        else {
            $("#IDPB").change();
        }

        var i = 1;
        $("#add-chung").click(function () {
            var renderList = $(`<tr>
                                                            <td class='text-center delItem' > <i class="fa fa-trash icon_action btn" aria-hidden="true"></i> </td>
                                                            <td >
                                                                <textarea class='form-control' cols='20' id='tenvt_${i}' name='tenvt_${i}' placeholder='Tên vị trí' rows='1'></textarea>
                                                                <span class='field-validation-valid text-danger' data-valmsg-for='TenViTri' data-valmsg-replace='true'></span>
                                                            </td>
                                                            <td style=''>
                                                                <input class='form-control' data-val='true' data-val-number='The field DinhMuc must be a number.' id='mavt_${i}'  name='mavt_${i}' placeholder='' type='text' value=''>
                                                                <span class='field-validation-valid text-danger' data-valmsg-for='DinhMuc' data-valmsg-replace='true'></span>
                                                            </td>
                                                            <td style=''>
                                                              <select class="form-control marginTB5 SelectBP" name="IDPB_${i}" id="IDPB_${i}">
                                                                  <option value ='null'>--Chọn Phòng Ban--</option>
                                                                  @foreach (var item in ViewBag.IDPB)
                                                                    {
                                                                      <option value='@item.Value'>@item.Text</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                            <td style=''>
                                                              <select class="form-control marginTB5 SelectK" name="IDKhoi_${i}" id="IDKhoi_${i}">
                                                                  <option value ='null'>--Chọn Khối--</option>
                                                                  @foreach (var item in ViewBag.IDKhoi)
                                                                    {
                                                                      <option value='@item.Value'>@item.Text</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                            <td style=''>
                                                              <select class="form-control marginTB5 SelectPX" name="IDPX_${i}" id="IDPX_${i}">
                                                                </select>
                                                            </td>
                                                            <td style=''>
                                                              <select class="form-control marginTB5 SelectNhom" name="IDNhom_${i}" id="IDNhom_${i}">
                                                                </select>
                                                            </td>
                                                            <td style=''>
                                                              <select class="form-control marginTB5 " name="IDTo_${i}" id="IDTo_${i}">
                                                                </select>
                                                            </td>
                                                            <td style=''>
                                                            </td>
                                                            <td style=''>
                                                            </td>
                                                            <td style=''>
                                                            </td>
                                                            <td style=''>
                                                            </td>
                                                        </tr>`);
            $("#vt").before(renderList);
            $("#SelectBP").change();
            if ($("#IDPB").val() != null) {
               /* console.log($("#IDPB").val());*/
                $("#IDPB_" + i).val($("#IDPB").val());
                $("#IDPB_" + i).change();
            }
            if ($("#IDKhoi").val() != null) {
                /*console.log($("#IDKhoi").val());*/
                $("#IDKhoi_" + i).val($("#IDKhoi").val());
                $("#IDKhoi_" + i).change();
            }
            //console.log($("#IDKhoi").val(),'khoi')
            //$("#IDKhoi").change();
            //$("#IDPX").change();
            //if ($("#IDPX").val() != null) {
            //    console.log($("#IDPX").val());
            //    $("#IDPX_" + i).val($("#IDPX").val());
            //    $("#IDPX_" + i).change();
            //}
            i++;
            $(".SelectBP").chosen({
                width: "100%",
            });
        });
    });
    var previous, prvKh;
    $("#IDPB").on('focus', function () {
        // Store the current value on focus and on change
        previous = this.value;
    }).change(function () {

        const params = new URLSearchParams(window.location.search);
        var idpb = $(this).val();
        var idpx = $("#IDPX").val() || params.get('IDPX');
        var idk = $("#IDKhoi").val();
        $.get("/FGroup/GetPX", { IDPB: idpb, IDKhoi: idk }, function (data) {
            if (data[0] != null) {
                $("#IDPX").empty();
                $("#IDPX").append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")
                $.each(data, function (index, row) {
                    if (params.get('IDPX') == row.ID) {
                        $("#IDPX").append("<option value ='" + row.ID + "' selected>" + row.TenPX + "</option>")
                        $("#IDPX").change();
                        //$("#IDKhoi").change();
                    }
                    else {
                        $("#IDPX").append("<option value ='" + row.ID + "'>" + row.TenPX + "</option>")
                    }

                });

            }
            else {
                $("#IDPX").empty();
            }
        });

        if (idpx == "null" || idpx == null || (previous != idpb && previous != undefined)) {
            $.get("/FGroup/GetNhom", { IDPB: idpb, IDKhoi: idk }, function (data1) {
                if (data1[0] != null) {
                    $("#IDNhom").empty();
                    $("#IDNhom").append("<option value ='" + null + "'>" + "--Chọn Nhóm--" + "</option>");
                    $.each(data1, function (index, row) {
                        if (params.get('IDNhom') == row.IDNhom) {
                            $("#IDNhom").append("<option value ='" + row.IDNhom + "' selected>" + row.TenNhom + "</option>");
                            //$("#IDNhom").change();
                        }
                        else {
                            $("#IDNhom").append("<option value ='" + row.IDNhom + "'>" + row.TenNhom + "</option>")
                        }
                    });
                }
                else {
                    $("#IDNhom").empty();
                }
            });
            $.get("/FGroup/GetTo", { IDPB: idpb, IDKhoi: idk }, function (data1) {
                if (data1[0] != null) {
                    //console.log(data1[0]);
                    /* $("#IDNhom").empty();*/
                    $("#IDTo").empty();
                    $("#IDTo").append("<option value ='" + null + "'>" + "--Chọn Tổ--" + "</option>");
                    $.each(data1, function (index, row) {
                        if (params.get('IDTo') == row.IDTo) {
                            $("#IDTo").append("<option value ='" + row.IDTo + "' selected>" + row.TenTo + "</option>")
                            //$("#IDTo").change();
                        }
                        else {
                            $("#IDTo").append("<option value ='" + row.IDTo + "'>" + row.TenTo + "</option>")
                        }
                    });
                }
                else {
                    $("#IDTo").empty();
                }
            });
        }
        // Make sure the previous value is updated
        previous = this.value;
    });

    $("#IDKhoi").on('focus', function () {
        // Store the current value on focus and on change
        prvKh = this.value;
    }).change(function () {
        const params = new URLSearchParams(window.location.search);
        //console.log($(this).val());
        var idpb = $("#IDPB").val();
        var idpx = $("#IDPX").val() || params.get('IDPX');
        $.get("/FGroup/GetPX", { IDPB: idpb, IDKhoi: $("#IDKhoi").val() }, function (data) {
            if (data[0] != null) {
                $("#IDPX").empty();
                $("#IDPX").append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")
                $.each(data, function (index, row) {
                    if (params.get('IDPX') == row.ID) {
                        $("#IDPX").append("<option value ='" + row.ID + "' selected>" + row.TenPX + "</option>")
                        $("#IDPX").change();
                    }
                    else {
                        $("#IDPX").append("<option value ='" + row.ID + "'>" + row.TenPX + "</option>")
                    }
                });
                if (params.get('IDTo') !== "null") $("#IDNhom").empty();
            }
            else {
                $("#IDPX").empty();
            }
        });
        if (idpx == "null" || idpx == null || (prvKh != $("#IDKhoi").val() && prvKh != undefined)) {
            $.get("/FGroup/GetNhom", { IDPB: idpb, IDKhoi: $("#IDKhoi").val() }, function (data1) {
                if (data1[0] != null) {
                    $("#IDNhom").empty();
                    $("#IDNhom").append("<option value ='" + null + "'>" + "--Chọn Nhóm--" + "</option>");
                    $.each(data1, function (index, row) {
                        if (params.get('IDNhom') == row.IDNhom) {
                            $("#IDNhom").append("<option value ='" + row.IDNhom + "' selected>" + row.TenNhom + "</option>");
                            /* $("#IDNhom").change();*/
                        }
                        else {
                            $("#IDNhom").append("<option value ='" + row.IDNhom + "'>" + row.TenNhom + "</option>")
                        }
                    });
                    if (params.get('IDNhom') !== "null") $("#IDTo").empty();
                }
                else {
                    $("#IDNhom").empty();
                }
            });
            $.get("/FGroup/GetTo", { IDPB: idpb, IDKhoi: $("#IDKhoi").val() }, function (data1) {
                if (data1[0] != null) {
                    //console.log(data1[0]);
                    /* $("#IDNhom").empty();*/
                    $("#IDTo").empty();
                    $("#IDTo").append("<option value ='" + null + "'>" + "--Chọn Tổ--" + "</option>");
                    $.each(data1, function (index, row) {
                        if (params.get('IDTo') == row.IDTo) {
                            $("#IDTo").append("<option value ='" + row.IDTo + "' selected>" + row.TenTo + "</option>")
                        }
                        else {
                            $("#IDTo").append("<option value ='" + row.IDTo + "'>" + row.TenTo + "</option>")
                        }
                    });

                }
                else {
                    $("#IDTo").empty();
                }
            });
        }
        // Make sure the previous value is updated
        prvKh = this.value;
    });


    $("#IDPX").on("change", function () {
        const params = new URLSearchParams(window.location.search);
        var idpx = $("#IDPX").val() || params.get('IDPX');
        var idpb = $("#IDPB").val();
        var idk = $("#IDKhoi").val();

        $.get("/FGroup/GetNhom", { IDPX: idpx, IDPB: idpb, IDKhoi: idk }, function (data1) {
            if (data1[0] != null) {
                $("#IDNhom").empty();
                $("#IDNhom").append("<option value ='" + null + "'>" + "--Chọn Nhóm--" + "</option>");
                $.each(data1, function (index, row) {
                    if (params.get('IDNhom') == row.IDNhom) {
                        $("#IDNhom").append("<option value ='" + row.IDNhom + "' selected>" + row.TenNhom + "</option>");
                        /*$("#IDNhom").change();*/
                    }
                    else {
                        $("#IDNhom").append("<option value ='" + row.IDNhom + "'>" + row.TenNhom + "</option>")
                    }
                });
                //if (params.get('IDTo') !== "null") $("#IDNhom").empty();
            }
            else {
                $("#IDNhom").empty();
            }
        });
        $.get("/FGroup/GetTo", { IDPX: idpx, IDPB: idpb, IDKhoi: idk }, function (data1) {
            if (data1[0] != null) {
                //console.log(data1[0]);
                /* $("#IDNhom").empty();*/
                $("#IDTo").empty();
                $("#IDTo").append("<option value ='" + null + "'>" + "--Chọn Tổ--" + "</option>");
                $.each(data1, function (index, row) {
                    if (params.get('IDTo') == row.IDTo) {
                        $("#IDTo").append("<option value ='" + row.IDTo + "' selected>" + row.TenTo + "</option>");
                        /*$("#IDTo").change();*/
                    }
                    else {
                        $("#IDTo").append("<option value ='" + row.IDTo + "'>" + row.TenTo + "</option>")
                    }
                });
                //if (params.get('IDNhom') !== "null") $("#IDTo").empty();
            }
            else {
                $("#IDTo").empty();
            }
        });
    });

    $("#IDNhom").on("change", function () {
        const params = new URLSearchParams(window.location.search);
        var idpx = $("#IDPX").val();
        var idpb = $("#IDPB").val();
        var idk = $("#IDKhoi").val();
        var idnhom = $(this).val();
        /* $("#IDTo").empty();*/
        var iddex = $(this).attr('id').split("_")[1];
        if (idnhom == "null") {
            $.get("/FGroup/GetTo", { IDPX: idpx, IDPB: idpb, IDKhoi: idk }, function (data1) {
                if (data1[0] != null) {
                    //console.log(data1[0]);
                    /* $("#IDNhom").empty();*/
                    $("#IDTo").empty();
                    $("#IDTo").append("<option value ='" + null + "'>" + "--Chọn Tổ--" + "</option>");
                    $.each(data1, function (index, row) {
                        if (params.get('IDTo') == row.IDTo) {
                            $("#IDTo").append("<option value ='" + row.IDTo + "' selected>" + row.TenTo + "</option>")
                        }
                        else {
                            $("#IDTo").append("<option value ='" + row.IDTo + "'>" + row.TenTo + "</option>")
                        }
                    });
                    //if (params.get('IDNhom') !== "null") $("#IDTo").empty();
                }
                else {
                    $("#IDTo").empty();
                }
            });
        }
        else {
            $("#IDTo").empty();
        }
    });

    $("#IDTo").on("change", function () {
        const params = new URLSearchParams(window.location.search);
        var idpx = $("#IDPX").val();
        var idpb = $("#IDPB").val();
        var idk = $("#IDKhoi").val();
        var idnhom = $("#IDNhom").val();
        var idto = $("#IDTo").val();
        /* $("#IDTo").empty();*/
        /*var iddex = $(this).attr('id').split("_")[1];*/
        /*console.log(idto, 'idnhomtt');*/
        if (idto == "null") {
            $.get("/FGroup/GetNhom", { IDPX: idpx, IDPB: idpb, IDKhoi: idk }, function (data1) {
                if (data1[0] != null) {
                    $("#IDNhom").empty();
                    $("#IDNhom").append("<option value ='" + null + "'>" + "--Chọn Nhóm--" + "</option>");
                    $.each(data1, function (index, row) {
                        if (params.get('IDNhom') == row.IDNhom) {
                            $("#IDNhom").append("<option value ='" + row.IDNhom + "' selected>" + row.TenNhom + "</option>");
                            /* $("#IDNhom").change();*/
                        }
                        else {
                            $("#IDNhom").append("<option value ='" + row.IDNhom + "'>" + row.TenNhom + "</option>")
                        }

                    });

                }
                else {
                    $("#IDNhom").empty();
                }
            });
        }
        else {
            $("#IDNhom").empty();
        }
    });

    // select BP
    $("#table").on("change", ".SelectBP", function () {
        //$(this).closest("tr").remove();
        const params = new URLSearchParams(window.location.search);
        var idpb = $(this).val();
        var iddex = $(this).attr('id').split("_")[1];

        $.get("/FGroup/GetPX", { IDPB: idpb }, function (data) {
            if (data[0] != null) {
                $("#IDPX_" + iddex).empty();
                $("#IDPX_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")
                $.each(data, function (index, row) {
                    if (params.get('IDPX') == row.ID) {
                        $("#IDPX_" + iddex).append("<option value ='" + row.ID + "' selected>" + row.TenPX + "</option>")
                    }
                    else {
                        $("#IDPX_" + iddex).append("<option value ='" + row.ID + "'>" + row.TenPX + "</option>")
                    }
                });

            }
            else {
                $("#IDPX_" + iddex).empty();
            }
        });
        $.get("/FGroup/GetNhom", { IDPB: idpb }, function (data1) {
            if (data1[0] != null) {
                $("#IDNhom_" + iddex).empty();
                $("#IDNhom_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Nhóm--" + "</option>");
                $.each(data1, function (index, row) {
                    if (params.get('IDNhom') == row.IDNhom) {
                        $("#IDNhom_" + iddex).append("<option value ='" + row.IDNhom + "' selected>" + row.TenNhom + "</option>")
                    }
                    else {
                        $("#IDNhom_" + iddex).append("<option value ='" + row.IDNhom + "'>" + row.TenNhom + "</option>")
                    }

                });

            }
            else {
                $("#IDNhom_" + iddex).empty();
            }
        });
        $.get("/FGroup/GetTo", { IDPB: idpb }, function (data1) {
            if (data1[0] != null) {
                //console.log(data1[0]);
                /* $("#IDNhom").empty();*/
                $("#IDTo_" + iddex).empty();
                $("#IDTo_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Tổ--" + "</option>");
                $.each(data1, function (index, row) {
                    if (params.get('IDTo') == row.IDTo) {
                        $("#IDTo_" + iddex).append("<option value ='" + row.IDTo + "' selected>" + row.TenTo + "</option>")
                    }
                    else {
                        $("#IDTo_" + iddex).append("<option value ='" + row.IDTo + "'>" + row.TenTo + "</option>")
                    }
                });

            }
            else {
                $("#IDTo_" + iddex).empty();
            }
        });

    });
    // select Khối
    $("#table").on("change", ".SelectK", function () {
        const params = new URLSearchParams(window.location.search);
        //console.log($(this).val());
        //var idpb = $("#IDPB").val();
        var iddex = $(this).attr('id').split("_")[1];
        var idpb = $("#IDPB_" + iddex).val();
        var idk = $(this).val();

        $.get("/FGroup/GetPX", { IDPB: idpb, IDKhoi: idk }, function (data) {
            if (data[0] != null) {
                $("#IDPX_" + iddex).empty();
                $("#IDPX_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")
                $.each(data, function (index, row) {
                    if (params.get('IDPX') == row.ID) {
                        $("#IDPX_" + iddex).append("<option value ='" + row.ID + "' selected>" + row.TenPX + "</option>")
                        $("#IDPX_" + iddex).change();
                    }
                    else {
                        $("#IDPX_" + iddex).append("<option value ='" + row.ID + "'>" + row.TenPX + "</option>")
                    }

                });

            }
            else {
                $("#IDPX_"+iddex).empty();
            }
        });
        $.get("/FGroup/GetNhom", { IDPB: idpb, IDKhoi: idk }, function (data1) {
            if (data1[0] != null) {
                $("#IDNhom_"+iddex).empty();
                $("#IDNhom_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Nhóm--" + "</option>");
                $.each(data1, function (index, row) {
                    if (params.get('IDNhom') == row.IDNhom) {
                        $("#IDNhom_" + iddex).append("<option value ='" + row.IDNhom + "' selected>" + row.TenNhom + "</option>");
                        /* $("#IDNhom").change();*/
                    }
                    else {
                        $("#IDNhom_" + iddex).append("<option value ='" + row.IDNhom + "'>" + row.TenNhom + "</option>")
                    }

                });

            }
            else {
                $("#IDNhom_" + iddex).empty();
            }
        });
        $.get("/FGroup/GetTo", { IDPB: idpb, IDKhoi: idk }, function (data1) {
            if (data1[0] != null) {
                //console.log(data1[0]);
                /* $("#IDNhom").empty();*/
                $("#IDTo_" + iddex).empty();
                $("#IDTo_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Tổ--" + "</option>");
                $.each(data1, function (index, row) {
                    if (params.get('IDTo') == row.IDTo) {
                        $("#IDTo_" + iddex).append("<option value ='" + row.IDTo + "' selected>" + row.TenTo + "</option>")
                    }
                    else {
                        $("#IDTo_" + iddex).append("<option value ='" + row.IDTo + "'>" + row.TenTo + "</option>")
                    }
                });

            }
            else {
                $("#IDTo_" + iddex).empty();
            }
        });
    });
    // select PX
    $("#table").on("change", ".SelectPX", function () {
        const params = new URLSearchParams(window.location.search);
        var idpx = $(this).val();
        var iddex = $(this).attr('id').split("_")[1];

        var idpb = $("#IDPB_" + iddex).val();
        var idk = $("#IDKhoi_" + iddex).val();

        $.get("/FGroup/GetNhom", { IDPX: idpx, IDPB: idpb, IDKhoi: idk }, function (data1) {
            if (data1[0] != null) {
                $("#IDNhom_"+iddex).empty();
                $("#IDNhom_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Nhóm--" + "</option>");
                $.each(data1, function (index, row) {
                    if (params.get('IDNhom') == row.IDNhom) {
                        $("#IDNhom_" + iddex).append("<option value ='" + row.IDNhom + "' selected>" + row.TenNhom + "</option>");
                        /* $("#IDNhom").change();*/
                    }
                    else {
                        $("#IDNhom_" + iddex).append("<option value ='" + row.IDNhom + "'>" + row.TenNhom + "</option>")
                    }

                });
            }
            else {
                $("#IDNhom_" + iddex).empty();
            }
        });

        $.get("/FGroup/GetTo", { IDPX: idpx, IDPB: idpb, IDKhoi: idk }, function (data1) {
            if (data1[0] != null) {
                //$("#IDNhom_" + iddex).empty();
                $("#IDTo_" + iddex).empty();
                $("#IDTo_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Tổ--" + "</option>");
                $.each(data1, function (index, row) {
                    if (params.get('IDTo') == row.IDTo) {
                        $("#IDTo_" + iddex).append("<option value ='" + row.IDTo + "' selected>" + row.TenTo + "</option>")
                    }
                    else {
                        $("#IDTo_" + iddex).append("<option value ='" + row.IDTo + "'>" + row.TenTo + "</option>")
                    }

                });

            }
            else {
                $("#IDTo_" + iddex).empty();
            }
        });
    });
    //select Nhóm
    $("#table").on("change", ".SelectNhom", function () {
        const params = new URLSearchParams(window.location.search);
        var idnhom = $(this).val();
        var iddex = $(this).attr('id').split("_")[1];

        var idpx = $("#IDPX_" + iddex).val();
        var idpb = $("#IDPB_"+ iddex).val();
        var idk = $("#IDKhoi_" + iddex).val();
   
        if (idnhom == "null") {
            $.get("/FGroup/GetTo", { IDPX: idpx, IDPB: idpb, IDKhoi: idk }, function (data1) {
                if (data1[0] != null) {
                    //console.log(data1[0]);
                    /* $("#IDNhom").empty();*/
                    $("#IDTo_"+iddex).empty();
                    $("#IDTo_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Tổ--" + "</option>");
                    $.each(data1, function (index, row) {
                        if (params.get('IDTo') == row.IDTo) {
                            $("#IDTo_" + iddex).append("<option value ='" + row.IDTo + "' selected>" + row.TenTo + "</option>")
                        }
                        else {
                            $("#IDTo_" + iddex).append("<option value ='" + row.IDTo + "'>" + row.TenTo + "</option>")
                        }
                    });
                }
                else {
                    $("#IDTo_" + iddex).empty();
                }
            });
        }
        else {
            $("#IDTo_" + iddex).empty();
        }
    });
    //select tổ
    $("#table").on("change", ".SelectTo", function () {
        const params = new URLSearchParams(window.location.search);

        var idto = $(this).val();
        var iddex = $(this).attr('id').split("_")[1];

        var idpx = $("#IDPX_" + iddex).val();
        var idpb = $("#IDPB_" + iddex).val();
        var idk = $("#IDKhoi_" + iddex).val();

        /* $("#IDTo").empty();*/
        /*var iddex = $(this).attr('id').split("_")[1];*/
        /*console.log(idto, 'idnhomtt');*/
        if (idto == "null") {
            $.get("/FGroup/GetNhom", { IDPX: idpx, IDPB: idpb, IDKhoi: idk }, function (data1) {
                if (data1[0] != null) {
                    $("#IDNhom_" + iddex).empty();
                    $("#IDNhom_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Nhóm--" + "</option>");
                    $.each(data1, function (index, row) {
                        if (params.get('IDNhom') == row.IDNhom) {
                            $("#IDNhom_" + iddex).append("<option value ='" + row.IDNhom + "' selected>" + row.TenNhom + "</option>");
                            /* $("#IDNhom").change();*/
                        }
                        else {
                            $("#IDNhom_" + iddex).append("<option value ='" + row.IDNhom + "'>" + row.TenNhom + "</option>")
                        }

                    });

                }
                else {
                    $("#IDNhom_" + iddex).empty();
                }
            });
        }
        else {
            $("#IDNhom_" + iddex).empty();
        }
    });

    //$("#table").on("change", ".SelectNhom", function () {
    //    var idnhom = $(this).val();
    //    var iddex = $(this).attr('id').split("_")[1];

    //    $.get("/FGroup/GetTo", { IDNhom: idnhom }, function (data1) {
    //        if (data1[0] != null) {
    //            //$("#IDPX_" + iddex).empty();
    //            $("#IDTo_" + iddex).empty();
    //            $("#IDTo_" + iddex).append("<option value ='" + null + "'>" + "--Chọn Tổ--" + "</option>");
    //            $.each(data1, function (index, row) {
    //                $("#IDTo_" + iddex).append("<option value ='" + row.IDTo + "'>" + row.TenTo + "</option>")
    //            });

    //        }
    //        else {
    //            $("#IDTo_" + iddex).empty();
    //        }
    //    });
    //});
    $("#table").on("click", ".delItem", function () {
        $(this).closest("tr").remove();
    });

    async function addVT(url, params, method) {
        return $.ajax({
            url: url,
            type: method || 'GET',
            dataType: 'json',
            data: params
        });
    }

    $("#submit-vt").click(async function () {
        let arr = [];
        //console.log("in");
        $(".SelectBP").each(function () {
            var idd = $(this).attr('id').split("_")[1];
            var tenvt = $("#tenvt_" + idd).val();
            var mavt = $("#mavt_" + idd).val();
            var IDPB = $("#IDPB_" + idd).val();
            var IDPX = $("#IDPX_" + idd).val();
            var IDK = $("#IDKhoi_" + idd).val();
            var IDN = $("#IDNhom_" + idd).val();
            var IDT = $("#IDTo_" + idd).val();
            arr.push({ TenVT: tenvt, MaVT: mavt, IDPB: IDPB, IDK: IDK, IDPX: IDPX, IDNhom: IDN, IDTo: IDT });
            //console.log("midle");
            //console.log(IDPB, IDPX, IDK, IDN, IDT);
            //$.get("FPosition/AddVT", { TenVT: tenvt, MaVT: mavt, IDPB: IDPB, IDK: IDK, IDPX: IDPX, IDNhom: IDN, IDTo: IDT }, async function (data1) {
            //    //location.reload(true);
            //}).fail(function () {
            //    //location.reload(true);
            //});
        });
        const promises = arr.map(async mnv => {
            const result = await addVT("FPosition/AddVT", mnv);
            //console.log(mnv);
            return result;
        })
        const numFruits = await Promise.all(promises)
                                        .then((values) => {
                                            alert("Thêm mới thành công");
                                            //location.reload(true);
                                        })
                                        .catch((error) => {
                                            alert("Thêm mới thất bại");
                                            //location.reload(true);
                                        });
        //console.log("out")
        return location.reload(true);
    })

</script>

<style>
    .chosen-container-single .chosen-single {
        color: #495057;
        background: #fff;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        text-transform: capitalize;
    }

        .chosen-container-single .chosen-single span {
            text-transform: capitalize !important;
            font-size: 16px !important;
        }
</style>


