
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using E_Learning.Models
@model PagedList.IPagedList<KNL_PheDuyetKNLView>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}

<style type="text/css">
    a:hover {
        cursor: pointer;
    }
</style>

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-id icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Bảng khung năng lực
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="card mb-4">
            <div class="card-header">

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                @*@ViewBag.ViTri*@
                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary" style="margin-right:8px" onclick="SubmitForm()">Phê duyệt</button>
                </div>
                @*<div class="row">
                    <a class="btn btn-primary fa fa-download" title="Dowload bảng KNL" href="@Url.Action("PheDuyetAll", "FPosition")">
                        Phê duyệt tất cả
                    </a>
                </div>*@

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post" id="myForm">
                        <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center" width="30px">STT</th>
                                    <th class="text-center" width="50px" style="vertical-align:middle;background-color: #f7f7f7;">
                                        <input type="checkbox" id="selectAll" /> Chọn Tất Cả<br />
                                    </th>
                                    <th class="text-center">Thao tác</th>
                                    <th class="text-center">Tên vị trí</th>
                                    <th class="text-center">Người trình ký</th>
                                    <th class="text-center">Ngày trình ký</th>
                                    <th class="text-center">Người duyệt</th>
                                    <th class="text-center">Ngày duyệt</th>
                                    <th class="text-center">Tình trạng duyệt</th>
                                    <th class="text-center">File đã duyệt</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int pageno = (int)Model.PageNumber;
                                    int itemperpage = (int)Model.PageSize;
                                    int RowNo = ((pageno - 1) * itemperpage) + 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center"> @RowNo@{RowNo++;}</td>
                                        @if (item.TinhTrang == 0)
                                        {
                                            <td class="text-center">
                                                <input type="checkbox" class="itemCheckbox" name="selectedItems" value="@item.IDVT" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">
                                            </td>

                                        }
                                        <td class="text-center">
                                            <a class="fa fa-eye" title="Xem bảng khung năng lực" href="@Url.Action("CreateKNL", "FPosition", new { id = item.IDVT, IDPB = item.IDPB })"
                                               onclick="return confirm('Cập nhật nội dung: @item.TenViTri')">
                                            </a>
                                        </td>
                                        <td class="">
                                            @item.TenViTri
                                            @*<a class="" title="Cập nhật khung năng lực" href="@Url.Action("CreateKNL", "FPosition", new { id = item.IDVT, IDPB = item.IDPB })"
                                               onclick="return confirm('Cập nhật nội dung: @item.TenViTri')">
                                                @item.TenViTri
                                            </a>*@
                                        </td>
                                        <td class="">@item.HoTenNguoiTao</td>
                                        <td class="">@item.NgayTrinhKy.Value.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                        <td class="">@item.HoTenNguoiDuyet</td>
                                        @if (item.NgayDuyet != null)
                                        {
                                            <td class="">@item.NgayDuyet.Value.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                        }
                                        else
                                        {
                                            <td class=""></td>
                                        }

                                        @if (item.TinhTrang == 1)
                                        {
                                            <td class="text-center"> <button type="button" class="btn btn-success" style="width:120px"> Hoàn tất </button></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"> <button type="button" class="btn btn-danger" style="width:120px"> Chưa xử lý </button></td>
                                        }
                                        @if (item.File_KNL != null)
                                        {
                                            <td class="text-center">
                                                <a href="@Url.Content("~/FileKNL/" + System.IO.Path.GetFileName(@item.File_KNL))" class="" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center"> </td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                    
                    <div class="pager">
                        @Html.PagedListPager(Model, page => Url.Action("PheDuyetKNL", "FPosition", new { page, IDVT = Request.QueryString["IDVT"] }))
                        <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>

<script>
    document.getElementById('selectAll').addEventListener('change', function () {
        // Lấy tất cả các checkbox có class là itemCheckbox
        const checkboxes = document.querySelectorAll('.itemCheckbox');

        // Nếu checkbox "Chọn Tất Cả" được chọn thì tất cả đều được chọn
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });

    // Cập nhật trạng thái của "Chọn Tất Cả" khi bỏ chọn bất kỳ checkbox nào
    document.querySelectorAll('.itemCheckbox').forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            const selectAllCheckbox = document.getElementById('selectAll');
            // Kiểm tra nếu có bất kỳ checkbox nào chưa chọn
            selectAllCheckbox.checked = Array.from(document.querySelectorAll('.itemCheckbox'))
                .every(item => item.checked);
        });
    });
</script>

<script src="~/Content/Chonse/chosen.jquery.js"></script>
<script type="text/javascript">
    function SubmitForm() {
        const queryParams = window.location.search; // Lấy ?id=123&name=John
        const form = document.getElementById("myForm");
        form.action = "/FPosition/ProcessSelected" + queryParams;
        form.submit();
    }
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới vị trí");
            $("#myModal").modal('show');
        });
    });
    $('#btn-add-vt').click(function () {
        var url = $('#myModalVT').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Danh sách mã vị trí");
            $("#myModal").modal('show');
        });
    });

    //$('#btn-Import').click(function () {
    //    var url = $('#myModalimport').data('url');
    //    $.get(url, function (data) {
    //        $("#myModal").html(data);
    //        $("#ModalTitle").html("Thêm mới danh sách câu");
    //        $("#myModal").modal('show');
    //    });
    //});
    $("#IDPB").chosen({
        width: "100%"
    });
    $("#btn-search").on('click', function () {
        window.location.href = '@Url.Action("Index", "FBlock")?IDPB=' + $('#IDPB').val();
    });
</script>

<style>
    .chosen-container-single .chosen-single {
        color: #495057;
        background: #fff;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        text-transform: capitalize;
    }

        .chosen-container-single .chosen-single span {
            text-transform: capitalize !important;
            font-size: 16px !important;
        }
</style>


