@model E_Learning.Models.KNLDGiaTCValidation

@*<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
    <script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
    <link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" id="formE">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">

                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                @*@Html.HiddenFor(model => model.IDKNL)*@
                <fieldset id="SubmitForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="mb-1 col-12 font-weight-bold float-left">Vị trí khung năng lực</div>
                                <div class="col-md-12">@ViewBag.TenVT</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group text-xl-left font-weight-bold">
                                <div id="ListNV " class="overflow-auto" style="max-height:200px">
                                    <div class=" mb-1 font-weight-bold float-left text-danger">Danh Sách vị trí Set tự động</div>
                                    @foreach (var item in ViewBag.ShowVTAuto)
                                    {
                                        <div class="col-md-12 font-weight-bold float-left text-left">
                                            @item.TenViTri
                                        </div>
                                    }
                                </div>
                                &nbsp;

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group text-xl-left font-weight-bold">
                                <div id="ListNV" class="overflow-auto" style="max-height:200px">
                                    <div class=" mb-1 font-weight-bold float-left text-danger">Danh Sách kiểm duyệt vị trí đánh giá</div>
                                    @foreach (var item in ViewBag.ShowVTTT)
                                    {
                                        <div class="col-md-12 font-weight-bold float-left text-left">
                                            @item.TenViTri
                                        </div>
                                    }
                                </div>
                                &nbsp;

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group text-xl-left font-weight-bold" style="display:grid">
                                <div class=" mb-1 font-weight-bold float-left text-danger">Danh sách xem lại kết quả</div>
                                <div id="ListNVKN" class="overflow-auto form-group" style="max-height:200px">
                                    @foreach (var item in ViewBag.ShowVTTC)
                                    {
                                        <div class="col-md-12 font-weight-bold float-left text-left">
                                            @item.TenViTri
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>

                    @*<div class="btn-margin-top text-center">
                        <input type="submit" value="Xác nhận" class="btn btn-primary pull-right" />
                    </div>*@
                </fieldset>

            </div>
        </div>
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {
        $(".multiSelectDropDownQAs").chosen({
            width: "100%",

        });
        $(".chosen-search-input").val("Chọn nhân viên");

        async function RemNV(url, params, method) {
            return $.ajax({
                url: url,
                type: method || 'GET',
                dataType: 'json',
                data: params
            });
        }

        $("#Remove_NV").click(async function () {
            //console.log('ssss33');
            let arr = [];
            $("input[name='CheckRemove']:checked").each( function () {
                arr.push($(this).attr('id'));
                //console.log($(this).attr('id'));
                //const mnv = $(this).attr('id');
                //const result = await RemNV("ViTriKNL/DeleteNVIDKNLJSON", { manv: mnv });
                //console.log("midle");
                //$.get("ViTriKNL/DeleteNVIDKNLJSON", { manv: mnv }, async function (data1) {
                //    //location.reload(true);
                //}).fail(function () {
                //    //location.reload(true);
                //});
            });
            const promises = arr.map(async mnv => {
                const result = await RemNV("FPosition/DeleteNVIDKNLJSON", { manv: mnv });
                return result;
            })
            const numFruits = await Promise.all(promises)
            //console.log(numFruits);
            $.get("FPosition/getNVJSON", { id: $("#IDVT").val() }, function (data1) {
                //console.log('get list neww');
                $("#ListNV").empty();
                $("#ListNV").append("<label class='mb-1 font-weight-bold float-left'>Nhân viên</label>");
                $.each(data1, function (index, row) {
                    $("#ListNV").append(`<div class="col-md-12 font-weight-bold float-left text-left">
                                        <input type="checkbox" aria-label="Checkbox for following text input" name="CheckRemove" id=${row.MaNV}>
                                        ${row.HoTen}
                                    </div>`);
                });
            });
            //console.log('5555555555555555');

        });

        $(".DeleteKN").click(function () {
            console.log($(this).attr('id'));
            let id = $(this).attr('id');

            //const promises = arr.map(async mnv => {
            //    const result = await RemNV("FPosition/DeleteNVIDKNLJSON", { manv: mnv });
            //    return result;
            //})
            //const numFruits = await Promise.all(promises)
            //console.log(numFruits);
            $.get("FPosition/DeleteNVKNJSON", { idvt: $("#IDVT").val(), id: id }, function (data1) {
                //console.log('get list neww');
                $("#ListNVKN").empty();
                //$("#ListNVKN").append("<label class='mb-1 font-weight-bold float-left'>Nhân viên</label>");
                $.each(data1, function (index, row) {
                    $("#ListNVKN").append(`<div class="col-md-12 font-weight-bold float-left text-left">
                                            <a class="fa fa-trash icon_action DeleteKN" id="${row.ID}" title="Xóa" href="#" onclick="return confirm('Bạn muốn cập nhật nhân viên : ${row.HoTen}')">
                                            </a>
                                            ${row.HoTen}
                                        </div>`);
                });
            });

        });

        $(document).on("click", ".checkNV", function () {
            /*var iddex = $(this).attr('id').split("_")[1];*/
            $.get("/FPosition/CheckNV", { lsnv: $("#NVDG").val() }, function (data) {
                if (data[0] != null) {
                    $("#dsnv").empty();
                    /*$("#dsnv").append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")*/
                    $.each(data, function (index, row) {
                        $("#dsnv").append("<div>" + row.HoTen + "</div>")
                    });

                }
                else {
                    $("#dsnv").empty();
                }
            });
        });
    });

</script>
<style>
    .chosen-container-single .chosen-single {
        color: #495057;
        background: #fff;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        text-transform: capitalize;
    }

        .chosen-container-single .chosen-single span {
            text-transform: capitalize !important;
            font-size: 16px !important;
        }
</style>



