
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using E_Learning.Models
@model List<EGuideValidation>
@using PagedList.Mvc

@*<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />*@

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}

<style type="text/css">
    a:hover {
        cursor: pointer;
    }
    .edit-custom {
        position: relative;
        top: 5px;
        right: 5px;
    }
    .BoxCustom {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    .BoxItem {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    }
    .BorderRadius {
        border-bottom-left-radius: 15px;
    }
    .IconDel {
        position: relative;
        top: -70px;
        left: 45px;
    }
</style>

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-id icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Tài liệu Hướng dẫn sử dụng hệ thống E-Learning
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="card mb-4">
            <div class="card-header">

                @*<div class="col-md-9">
                    Hướng dẫn sử dụng hệ thống E-Learning
                </div>*@
                @*<div class="clo-md-3 m-l-auto">
                        <a class="btn btn-primary" title="Chi tiết" href="@Url.Action("CreateVTKNL", "ViTriKNL")">
                            <i class="fa fa-plus">&nbsp;</i>&nbsp;Danh sách mã vị trí
                        </a>
                    </div>*@
                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.ADD))
                {
                    <div class="clo-md-3 ">
                        <button type="button" id="btn-add" class="btn btn-primary m-l-auto"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                        <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","EGuide")'></div>
                    </div>
                }


            </div>
            <div class="card-body">
                <div class="tab-content" style="margin-top: 30px;">

                    <div class="row">
                        @foreach (var item in Model)
                        {

                                <div class="col-md-6 col-xl-3" style="max-width:300px">
                                    <div class=" mb-3 BoxCustom BorderRadius" style="height:95%" >

                                        <div class="text-white text-center BoxItem" style="min-height:50px">
                                            <a href="@Url.Content("~/UploadedFiles/HDSD/" + System.IO.Path.GetFileName(@item.FilePath))" class="" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><img src="~/Content/assets/images/pdf_icon.png" style="width:50%;padding:15px"></a>
                                            @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.DEL))
                                            {
                                                <a class="fa fa-trash icon_action IconDel fsize-2" title="Xóa" href="@Url.Action("Delete", "EGuide", new { id = item.ID })"
                                                   onclick="return confirm('Bạn muốn xóa HDSD: @item.ID')">
                                                </a>
                                            }
                                        </div>

                                        <div class="widget-content">
                                            <div class="content d-flex">
                                                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.EDIT))
                                                {
                                                    <a id="btn-edit_@item.ID" title="Sửa" class="fa fa-edit icon_action edit-custom fsize-2"></a>
                                                    <div class=" modal fade" id="myModaleK_@item.ID" role="dialog" data-url='@Url.Action("Edit", "EGuide", new { id = item.ID})'></div>
                                                    <script type="text/javascript">
                                                                    $("#btn-edit_@item.ID").click(function () {
                                                                        var url = $('#myModaleK_@item.ID').data('url');
                                                                                $.get(url, function (data) {
                                                                                    $("#myModaleK_@item.ID").html(data);
                                                                                    $("#ModalTitle").html("Cập nhật HDSD");
                                                                                    $("#myModaleK_@item.ID").modal('show');
                                                                                });
                                                                            });
                                                    </script>
                                                }
                                                <div class="widget-subheading font-weight-bold font-italic"><span class="font-weight-bold">@item.OrderBy -</span> @item.MoTa</div>
                                            </div>
                                            @*<div class="widget-content-wrapper" style="padding: .5rem 0;">
                                                <div class="widget-content-right">
                                                    <a id="@item.MoTa" href="/SLesson/Index?LHID=@item.MoTa">
                                                        <span class="btn-transition btn btn-outline-success">Chỉnh sửa</span>
                                                    </a>
                                                </div>
                                            </div>*@
                                        </div>

                                    </div>
                                </div>

                        }
                    </div>

                </div>
            </div>
        </div>



    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>

<script src="~/Content/Chonse/chosen.jquery.js"></script>
<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới HDSD");
            $("#myModal").modal('show');
        });
    });
    $('#btn-add-vt').click(function () {
        var url = $('#myModalVT').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Danh ");
            $("#myModal").modal('show');
        });
    });
</script>

<style>
    .chosen-container-single .chosen-single {
        color: #495057;
        background: #fff;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        text-transform: capitalize;
    }

        .chosen-container-single .chosen-single span {
            text-transform: capitalize !important;
            font-size: 16px !important;
        }
</style>


