@model E_Learning.Models.TestView
@using E_Learning.Models;
@{
    ViewBag.Title = "TestView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__outer">

    <div class="app-main__inner">

        <div class="app-page-title" style="margin-bottom: 5px">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Bài thi
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
            

        <div style="display: flex; margin-bottom: 5px">
            <span class="">
                
            </span>
            <span class="m-l-auto"><a class="btn btn-primary" href="@Url.Action("ExportToPdfsss","ConfirmEStudy", new { LHID = Model.IDLH, IDNV = Model.IDNV, IDL = 0})">&nbsp;In bài thi</a></span>

        </div>

      
        <div class="tab-content">
            <div class="row">
                <div class="card col-md-12">

                    @* Code View *@
                    <div class="HeadTest row">
                        <div class="col-md-6" style="float: left; max-width: 300px; text-align: center; font-weight: bold; font-size: 1.2rem; text-transform: uppercase;">
                            <img alt="Hòa Phát Dung Quất" src="~/Content/assets/images/logo-inverse.png" width="90%" />
                            <span class="" style="">Công ty Cổ phần Thép</span>
                            <p class="" style="">Hòa Phát Dung Quất</p>

                        </div>
                        <div class="col-md-6" style="float:right;text-align:right; font-weight: bold; margin-left: auto;">
                            <span>BM.04.23</span>
                            <p><span style="font-style:italic;">Ngày hiệu lực:</span> 01/05/2022</p>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 1rem;">
                            <p style="text-align:center; font-size: 1.5rem;font-weight:bold; text-transform:uppercase;">Bài Kiểm Tra, Sát Hạch</p>
                        </div>

                        <div class="col-md-6">
                            <p>- Họ và tên: @Model.HoTen</p>
                            <p>- Ngày sinh: ...../...../.........</p>
                            <p>- Mã nhân viên: @Model.MaNV</p>

                        </div>
                        <div class="col-md-6">
                            <p>- Ngày kiểm tra: @Model.NgayThi.ToString("dd/MM/yyyy")</p>
                            <p>- Thời gian làm bài: @Model.ThoiGianLamBai phút</p>
                        </div>
                        <div class="col-md-12">
                            <p>- Bộ phận: @Model.TenPhongBan</p>
                            <p>- Nội dung kiểm tra sát hạch: @Model.NoiDungDT</p>
                            <p>- Đề thi: @Model.TenDeThi</p>

                        </div>
                        <div class="col-md-3"><p>- Hình thức:</p></div>
                        <div class="col-md-3"><p>&#x1F5F9; Lý thuyết</p></div>
                        <div class="col-md-3"><p>&#x2610; Thực hành</p></div>
                        <div class="col-md-3"><p>&#x2610; Vấn đáp</p></div>

                        <div class="col-md-12" style="text-decoration:underline;">
                            <p><strong>Kết quả:</strong></p>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center" width="25%">Hình thức kiểm tra, sát hạch</th>
                                        <th class="text-center" width="25%">Lý thuyết</th>
                                        <th class="text-center" width="25%">Thực hành</th>
                                        <th class="text-center" width="25%">Vấn đáp</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            Điểm
                                        </td>
                                        <td class="text-center">
                                            @Model.DiemSo
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <p>Người đánh giá</p>
                                            <p style="font-style:italic;">(Ký và ghi rõ họ tên)</p>
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                        </td>
                                    </tr>
                                    @*<tr>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center" colspan="3" style="font-style:italic;">
                                            Ghi chú: Không đạt sát hạch khi có một hình thức thi đạt < 5 điểm
                                        </td>

                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>


                    @* End Code View *@


                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th width="30px" class="text-center">STT</th>
                                <th class="text-center">Nội Dung</th>
                                <th class="text-center" width="200px">Đáp án học viên</th>
                                <th class="text-center" width="100px">Kết Quả</th>
                            </tr>
                        </thead>
                        @{
                            ELEARNINGEntities db_context = new ELEARNINGEntities();
                            var _model = from a in db_context.BaiThis.Where(x => x.IDBaiThi == Model.IDBaiThi && x.IDDeThi == Model.IDDeThi && x.IDNV == Model.IDNV)
                                         join b in db_context.CTBaiThis on a.IDBaiThi equals b.IDBaiThi
                                         join c in db_context.CauHois on b.IDCauHoi equals c.IDCH
                                         join d in db_context.DanhSachDAs on c.IDDAĐung equals d.IDDSĐA
                                         join e in db_context.DanhSachDAs on b.IDDApAnNV equals e.IDDSĐA
                                         select new ManageQuestionValidation
                                         {
                                             IDCH = (int)c.IDCH,
                                             NoiDungCH = c.NoiDungCH,
                                             DapAnA = c.DapAnA,
                                             DapAnB = c.DapAnB,
                                             DapAnC = c.DapAnC,
                                             DapAnD = c.DapAnD,
                                             DapAnĐung = d.TenĐA,
                                             IDDAĐung = (int)c.IDDAĐung,
                                             Diem = (double)b.Diem,
                                             DapAnHV = e.TenĐA

                                         };
                            int RowNo = 1;
                            foreach (var item in _model)
                            {
                                <tr>
                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                    <td>
                                        Câu hỏi: @item.NoiDungCH <br />
                                        @if (item.IDDAĐung == 1)
                                        {
                                            <span class="text-danger">A: @Html.Raw(item.DapAnA)</span> <br />
                                            <span>B: @Html.Raw(item.DapAnB)</span><br />
                                            <span>C: @Html.Raw(item.DapAnC)</span><br />
                                            <span>D: @Html.Raw(item.DapAnD)</span>
                                        }
                                        else if (item.IDDAĐung == 2)
                                        {
                                            <span>A: @Html.Raw(item.DapAnA) </span><br />
                                            <span class="text-danger">B: @Html.Raw(item.DapAnB)</span><br />
                                            <span>C: @Html.Raw(item.DapAnC)</span><br />
                                            <span>D: @Html.Raw(item.DapAnD)</span>
                                        }
                                        else if (item.IDDAĐung == 3)
                                        {
                                            <span>A: @Html.Raw(item.DapAnA) </span><br />
                                            <span>B: @Html.Raw(item.DapAnB)</span><br />
                                            <span class="text-danger">C: @Html.Raw(item.DapAnC)</span><br />
                                            <span>D: @Html.Raw(item.DapAnD)</span>
                                        }
                                        else if (item.IDDAĐung == 4)
                                        {
                                            <span>A: @Html.Raw(item.DapAnA) </span><br />
                                            <span>B: @Html.Raw(item.DapAnB)</span><br />
                                            <span>C: @Html.Raw(item.DapAnC)</span><br />
                                            <span class="text-danger">D: @Html.Raw(item.DapAnD)</span>
                                        }



                                    </td>

                                    <td class="text-center">@item.DapAnHV</td>
                                    <td class="text-center">@item.Diem</td>

                                </tr>
                            }
                        }
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">

        </div>
    </div>
</div>*@





