
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using E_Learning.ModelsDTTH
@using E_Learning.Models
@model PagedList.IPagedList<NoiDungDTTHView>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Nội dung đào tạo tổng hợp
                        <div class="page-title-subheading">
                        </div>

                    </div>
                </div>
              
                @*<div class="col"><button type="button" id="btn-ExportLH" class="btn btn-success m-l-auto"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Danh sách NDĐT</button></div>*@
            <div class="col float-right">
                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.EX))
                {
                    <button type="button" id="btn-Export" class="btn btn-success float-right ml-2"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Export Danh sách NDĐT</button>
                    <script>
                        const urlParams = new URLSearchParams(window.location.search);
                        const myParam = urlParams.get('IDLoaiDT');
                        $('#btn-Export').click(function () {
                            window.location.href = "/NoiDungDTTH/ExportExcel?IDPhanLoaiDT=" + myParam;
                        });
                    </script>
                }

                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.ADD))
                {
                    @*<button type="button" id="btn-Process" class="btn btn-success float-right ml-2"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Xử lý phân quyền vị trí </button>
            <span class="modal fade" id="ProcessModal" role="dialog" data-url='@Url.Action("Process", "NoiDungDTTH",new {IDPhanLoaiDT = Request.QueryString["IDLoaiDT"]})'></span>
            <script>
                $('#btn-Process').click(function () {
                    var url = $('#ProcessModal').data('url');
                    $.get(url, function (data) {
                        $("#ProcessModal").html(data);
                        $("#ModalTitle").html("Thêm mới danh sách");
                        $("#ProcessModal").modal('show');
                    });
                });
            </script>*@
                    <button type="button" onclick="window.location.href='/NoiDungDTTH/DongBoNoiDungDT'" class="btn btn-warning float-right ml-2"><i class="fa fa-refresh">&nbsp;</i>&nbsp;Đồng bộ Nội dung</button>
                    <button type="button" id="btn-Import" class="btn btn-success float-right ml-2"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Nhập Danh sách </button>
                    <span class="modal fade" id="ImportModal" role="dialog" data-url='@Url.Action("ImportExcel", "NoiDungDTTH")'></span>
                    <script>
                        $('#btn-Import').click(function () {
                            var url = $('#ImportModal').data('url');
                            $.get(url, function (data) {
                                $("#ImportModal").html(data);
                                $("#ModalTitle").html("Thêm mới danh sách");
                                $("#ImportModal").modal('show');
                            });
                        });
                    </script>
                    <button type="button" id="btn-add" class="btn btn-primary float-right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                    <div class="modal fade" id="AddModal" role="dialog" data-url='@Url.Action("Create","NoiDungDTTH")'></div>
                    <script>
                        $('#btn-add').click(function () {
                            var url = $('#AddModal').data('url');
                            $.get(url, function (data) {
                                $("#AddModal").html(data);
                                $("#ModalTitle").html("Thêm mới danh sách");
                                $("#AddModal").modal('show');
                            });
                        });
                    </script>
                }
            </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        <div class="col">
                            <div class="row">
                                @*<div class="col">
                                    <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                </div>*@
                                <div>
                                    <ul class="nav nav-pills nav-fill">
                                        @foreach (var item in ViewBag.IDPhanLoaiDT)
                                        {
                                            if (item.Value == Request.QueryString["IDLoaiDT"])
                                            {
                                                <li class="nav-item p-1">
                                                    <a class="btn btn-outline-primary active" href="@Url.Action("Index", "NoiDungDTTH", new { IDLoaiDT = item.Value })">@item.Text</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="nav-item p-1">
                                                    <a class="btn btn-outline-primary " href="@Url.Action("Index", "NoiDungDTTH", new { IDLoaiDT = item.Value })">@item.Text</a>
                                                </li>
                                            }

                                        }
                                        @*<li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Longer nav link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>*@
                                    </ul>
                                </div>

                                @*<div class="col">
                @Html.DropDownList("LVDTID", null, "--lĩnh vực--", new { id = "LVDTID", @class = "form-control marginTB5", @style = "width:100%", })
            </div>
            <div class="col">
                @Html.DropDownList("IDGV", null, "--Nguồn giảng viên--", new { id = "IDGV", @class = "form-control marginTB5", @style = "width:100%", })
            </div>
            <div class="col">
                @Html.DropDownList("IDLoaiDT", null, "--Loại--", new { id = "IDLoaiDT", @class = "form-control marginTB5", @style = "width:100%", })
            </div>
            <div class="col">
                @Html.DropDownList("IDPPDT", null, "--Phương pháp--", new { id = "IDPPDT", @class = "form-control marginTB5", @style = "width:100%", })
            </div>
            <div class="col">
                @Html.DropDownList("IDNhomDT", null, "--Nhóm--", new { id = "IDNhomDT", @class = "form-control marginTB5", @style = "width:100%", })
            </div>*@

                                @*<div class="col-md-2">
                <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
            </div>*@
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                </div>
                            </div>
                        </div>


                        @*<div class="col-md-2">
                                <button type="button" id="btn-add" class="btn btn-primary  pull-right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                                <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","NoiDungDTKCCD")'></div>

                            </div>*@
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="30px" class="text-center">STT</th>
                                        <th width="100px" class="text-center">Thao tác</th>
                                        <th class="text-center" width="100">Vị trí được gán</th>
                                        <th class="text-center">Mã ND</th>
                                        <th class="text-center">Nội Dung Đào Tạo</th>
                                        <th class="text-center">Nguồn Giảng viên</th>
                                        <th class="text-center">Lĩnh Vực Đào Tạo</th>
                                        <th class="text-center">Hoạt động ĐT</th>
                                        <th class="text-center">Phương pháp ĐT</th>
                                        <th class="text-center" width="100">Nhóm Năng lực</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                                            <td class="text-center">
                                                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.DEL) )
                                                {
                                                    <a class="fa fa-trash icon_action" title="Xóa" href="@Url.Action("Delete", "NoiDungDTTH", new { id = item.IDND })"
                                                       onclick="return confirm('Bạn muốn xóa : @item.NoiDung')">
                                                    </a>
                                                }
                                                @if ((ViewBag.QUYENCN as List<String>).Contains(CONSTKEY.EDIT) )
                                                {
                                                    <a id="btn-edit_@item.IDND" title="Sửa" class="fa fa-edit icon_action"></a>
                                                    <div class="modal fade modalEdit" id="myModale_@item.IDND" role="dialog" data-url='@Url.Action("Edit","NoiDungDTTH", new { id = item.IDND })'></div>
                                                    <script type="text/javascript">
                                                        $("#btn-edit_@item.IDND").click(function () {
                                                        var element = $('#myModale_@item.IDND');
                                                        var url = element.data('url');
                                                        $.get(url, function (data) {
                                                            $(element).html(data);
                                                            $("#ModalTitle").html("Cập nhật Nội dung");
                                                            $(element).modal('show');
                                                        });
                                                    });
                                                    </script>
                                                }
                                               
                                            </td>
                                            <td class="text-center">
                                                @*<a class="fa " title="Xóa" href="@Url.Action("PhanQuyenNDDT", "NoiDungDTTH", new { id = item.IDND })"
                                                   onclick="return confirm('Xem chi tiết : @item.NoiDung')">
                                                    @item.SLViTri Vị trí
                                                </a>*@
                                                <a class="fa btn text-danger" id="btn-pq_@item.IDND" href="@Url.Action("DS_ViTri","NoiDungDTTH", new {IDND = item.IDND })" title="Chi tiết vị trí" >@item.SLViTri Vị trí</a>
                                            </td>
                                            <td class="text-center">@item.IDND</td>
                                            <td>@item.NoiDung</td>
                                            <td>@item.TenNguonGV</td>
                                            <td>@item.TenLVDT</td>
                                            <td>@item.TenLoaiDT</td>
                                            <td>@item.TenPPDT</td>
                                            <td>@item.TenNhomNL</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "NoiDungDTTH", new { page, IDLVDT = Request.QueryString["IDLVDT"], IDGV = Request.QueryString["IDGV"], search = Request.QueryString["search"], IDLoaiDT = Request.QueryString["IDLoaiDT"], IDPPDT = Request.QueryString["IDPPDT"], IDNhomDT = Request.QueryString["IDNhomDT"], }))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>
<!-- Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="ModalCreate"  role="dialog" data-url="@Url.Action("Create","NoiDungDTTH")">
              <script>
                  $('#create').click(function () {
                      var url = $('#ModalCreate').data('url');
                      $.get(url, function (data) {
                          $("#ModalCreate").html(data);
                          $("#ModalTitle").html("Thêm mới danh sách");
                          $("#ModalCreate").modal('show');
                      });
                  });
              </script>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Content/Chonse/chosen.jquery.js"></script>*@

<script type="text/javascript">
    //$(" #LVDTID").chosen({
    //    width: "100%"
    //});
    $(document).ready(function () {
        $('#addProductModal').on('hidden.bs.modal', function () {
            // Reset form fields
            $('#addProductForm')[0].reset();
        });
    });
    $("#LVDTID #LVDTID").chosen({
        width: "100%"
    });
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalimport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới danh sách");
            $("#myModal").modal('show');
        });
    });
   

    $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "NoiDungDTTH")?search=' + search + "&IDLVDT=" + $('#LVDTID').val() + "&IDGV=" + $('#IDGV').val() + "&IDLoaiDT=" + $('#IDLoaiDT').val() + "&IDPPDT=" + $('#IDPPDT').val() + "&IDNhomDT=" + $('#IDNhomDT').val();
    });
</script>

