@model E_Learning.ModelsKCCD.SuggestKCCDView
@*<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
    <link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />*@
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" style="max-width:800px" id="formF">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset id="SubmitForm">
                    <div class="row">
                        <div class="form-group col-md-12 " style="display:grid">
                            <label class="mb-1">Nội dung đào tạo <span class="text-danger">(*)</span></label>
                            @Html.DropDownListFor(model => model.NoiDungKCCDID, ViewBag.IDNDDT as SelectList, "--Chọn Nội dung ĐT--", new { @id = "NoiDungKCCDID", @class = "form-control" })
                        </div>
                        <script>
                            $(document).ready(function () {
                                $("#NoiDungKCCDID").change(function () {
                                    $.get("/SuggestKCCD/GetNoiDungDT", { id: $("#NoiDungKCCDID").val() }, function (data) {
                                        $("#NhomNangLucID").empty();
                                        $("#LinhVucID").empty();
                                        //$("#PhongBanID").empty();
                                        //console.log(data)
                                        $("#NhomNangLucID").append("<option value ='" + data.NhomNLID + "' selected>" + data.TenNhomNL + "</option>")
                                        $("#LinhVucID").append("<option value ='" + data.LVDTID + "' selected>" + data.TenLVDT + "</option>")
                                        $("#cauhoi").attr("href", "/CauHoiKCCD/DeThi?KCCDID=" + data.ID);
                                        $("#ndch").text("Xem câu hỏi đề thi");
                                        //$("#PhongBanID").append("<option value ='" + data.TenPhongBan + "' selected>" + data.TenPhongBan + "</option>")
                                        //$.each(data, function (index, row) {
                                        //    $("#NhomNangLucID").append("<option value ='" + row.NhomNLID + "'>" + row.NoiDung + "</option>")
                                        //});
                                    });

                                })
                            });

                        </script>
                        <div class="form-group col-md-12">
                            <a class="font-italic" title="Câu hỏi" id="cauhoi" target="_blank" href="/CauHoiKCCD/DeThi?KCCDID=0">
                                <span id="ndch"></span>
                            </a>
                        </div>
                        <div class="form-group col-md-12">
                            <label class=" mb-1">Nhóm Năng Lực</label>
                            @Html.DropDownListFor(model => model.NhomNangLucID, new SelectList(" "), "--Chọn Nhóm Năng Lực--", new { @id = "NhomNangLucID", @class = "form-control", @readonly = "true" })
                            @*@Html.TextBox("NhomNangLucID", null, "--Nhóm Năng Lực--", new { id = "NhomNangLucID", @class = "form-control marginTB5", @style = "width:100%", })*@
                        </div>

                        <div class="form-group col-md-12">
                            <label class=" mb-1">lĩnh Vực Đào Tạo</label>
                            @Html.DropDownListFor(model => model.LinhVucID, new SelectList(" "), "--LVĐT--", new { @id = "LinhVucID", @class = "form-control", @readonly = "true" })
                            @*@Html.DropDownList("LVDTID", null, "--LVĐT--", new { id = "LVDTID", @class = "form-control marginTB5", @style = "width:100%", })*@
                        </div>
                        <!--<div class="form-group col-md-12">
    <label class=" mb-1">Bộ Phận</label>-->
                        @*@Html.DropDownList("PhongBanID", new SelectList(" "), "--Bộ Phận--", new { id = "PhongBanID", @class = "form-control marginTB5", @style = "width:100%", @readonly = "true" })*@
                        <!--</div>-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class=" mb-1">Thời gian Bắt Đầu<span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.TuNgay, new { @value = DateTime.Today, htmlAttributes = new { @class = "form-control", placeholder = "Chọn ngày", @id = "TuNgay", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.TuNgay, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class=" mb-1">Thời Gian Kết Thúc<span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.DenNgay, new { @value = DateTime.Today, htmlAttributes = new { @class = "form-control", placeholder = "Chọn ngày", @id = "DenNgay", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.DenNgay, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class=" mb-1">Người hướng dẫn 2 <span class="text-danger">(*)</span></label>
                                @Html.DropDownListFor(model => model.HuongDan2, ViewBag.NhanVienID as SelectList, "--Chọn nhân viên--", new { @class = "form-control", @id = "HuongDan2" })
                                @Html.ValidationMessageFor(model => model.HuongDan2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            Làm bài thi sát hạch?
                            @Html.CheckBoxFor(m => m.isKiemTra, new { @class = "fa-2x" })
                        </div>
                        <div class="col-md-12" id="dethi" style="display:none">
                            <div class="form-group">
                                <label class="mb-1">Đề Thi<span class="text-danger">(*)</span></label>

                                <script>
                                    $(document).ready(function () {
                                        $("#NoiDungKCCDID").change(function () {
                                            $.get("/SuggestKCCD/GetDeThi", { id: $("#NoiDungKCCDID").val() }, function (data) {
                                                $("#DeThiID").empty();
                                                $.each(data, function (index, row) {
                                                    $("#DeThiID").append("<option value ='" + row.IDDeThi + "'>" + row.MaDe + " - " + row.TenDe + "</option>")
                                                });
                                            });
                                        })
                                    });
                                </script>
                                @Html.DropDownListFor(model => model.DeThiID, new SelectList(" "), "--Chọn Đề Thi--", new { @class = "form-control", @id = "DeThiID" })
                                @Html.ValidationMessageFor(model => model.DeThiID, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>

                    <div class="btn-margin-top text-center">
                        <input type="submit" value="Xác nhận" class="btn btn-primary pull-right " />
                        <input type="reset" value="Hủy" class="btn btn-danger pull-right button_cancel mr-1" data-dismiss="modal" />
                    </div>
                </fieldset>

            </div>
        </div>
    </div>

}


<script>
    $("#formF #NoiDungKCCDID").chosen({
        width: "100%",

    });

    $("#HuongDan2").chosen({
        width: "100%"
    });

    $("#isKiemTra").on("change", function () {
        // Check if the checkbox is checked
        if ($(this).prop("checked")) {
            $("#dethi").css("display", "block");
            // Perform actions when the checkbox is checked
        } else {
            $("#dethi").css("display", "none");
            // Perform actions when the checkbox is unchecked
        }
    });
   
    //$(document).ready(function () {
    //    var i = 2;
    //    $("#add-vt").click(function () {
    //        var renderList = $(`<div class='form-group col-md-8' style='display: grid'>  <textarea class='form-control' placeholder='Tên vị trí ${i}' rows='1' name='TenVTKNL_${i}+' id='TenVTKNL_${i}'></textarea></div>
    //                    <div class='form-group col-md-4' style='display: grid'>  <textarea class='form-control' placeholder='Mã vị trí ${i}' rows='1' name='MaViTri_${i}' id='MaViTri_${i}'></textarea></div>
    //`);
    //        $("#list_vt").before(renderList);
    //        i++;
    //    });
    //});
</script>




