@model E_Learning.Models.ManageETContentValidation

@using (Html.BeginForm("Edit", "ManageETContent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IDND)
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">



                <fieldset id="SubmitForm">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">BP Lập Nhu Cầu</label>
                                @Html.DropDownListFor(model => model.BPLID, ViewBag.BPLList as SelectList, new { @id = "BPLID", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Lĩnh vực ĐT</label>
                                @Html.DropDownListFor(model => model.LVDTID, ViewBag.LVList as SelectList, new { @id = "LVDTID", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Lĩnh vực Chi tiết</label>
                                <script>
                                    $(document).ready(function () {
                                        $("#LVDTID").change(function () {
                                            $.get("/ManageETContent/GetLVChiTiet", { id: $("#LVDTID").val() }, function (data) {
                                                $("#IDCTLVDT").empty();
                                                $.each(data, function (index, row) {
                                                    $("#IDCTLVDT").append("<option value ='" + row.IDCTLVDT + "'>" + row.TenCTLVDT + "</option>")
                                                });

                                            });

                                        })
                                    });

                                </script>
                                @Html.DropDownListFor(model => model.IDCTLVDT, ViewBag.CTLVList as SelectList, "--Chọn LV Chi Tiết--", new { @class = "form-control", @id = "IDCTLVDT" })
                                @Html.ValidationMessageFor(model => model.IDCTLVDT, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Mã Nội Dung Đào Tạo</label>
                                @*@Html.EditorFor(model => model.MaND, new { htmlAttributes = new { @class = "form-control", placeholder = "Mã NDĐT", @id = "MaND" } })*@
                                @Html.TextBox("MaND", null, new { @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.MaND, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Nội Dung Đào Tạo</label>
                                @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control", placeholder = "Nội Dung Đào Tạo", @id = "NoiDung" } })
                                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Video Nội Dung</label>
                                @Html.EditorFor(model => model.VideoND, new { htmlAttributes = new { @class = "form-control", placeholder = "Link Video", @id = "VideoND" } })
                                @Html.ValidationMessageFor(model => model.VideoND, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="small mb-1">Hình Ảnh Nội Dung</label>
                                @Html.EditorFor(model => model.ImageND, new { htmlAttributes = new { @class = "form-control", placeholder = "Thumbnail", @id = "ImageND" } })
                                @Html.ValidationMessageFor(model => model.ImageND, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="small mb-1">Thời lượng (phút)</label>
                                @Html.EditorFor(model => model.ThoiLuongDT, new { htmlAttributes = new { @class = "form-control", placeholder = "Thời lượng", @id = "ThoiLuongDT" } })
                                @Html.ValidationMessageFor(model => model.ThoiLuongDT, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">File</label>

                                @Html.EditorFor(model => model.FileDinhKem, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "FileDinhKem", @readonly = "true" } })
                                <div class="">
                                    <input type="file" name="PDFEduFile" style="width:100%;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Ngày Tạo</label>
                                @Html.EditorFor(model => model.NgayTao, new { @value = ViewBag.NgayTao, htmlAttributes = new { @class = "form-control", placeholder = "Chọn ngày", @id = "NgayTao", @type = "date", @Value = ViewBag.NgayTao } })
                                @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="btn-margin-top text-center">
                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />
                        @*<input type="reset" value="Hủy" class="btn btn-danger button_cancel" data-dismiss="modal"/>*@
                    </div>

                </fieldset>

            </div>
        </div>
    </div>
}


<script>

</script>
